@{
    var statusJson = TempData["FlashStatusJson"];
    FlashStatus status = statusJson != null ? FlashStatus.FromJson(statusJson.ToString()) : null;
}

@if (status != null) {
    if (status.Kind == FlashStatusKind.Dialog) {
        <div id="statusModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="card-header">
                        <i class="fa fa-info"></i> @status.Message
                    </div>
                    <div class="modal-body card-body">
                        <p>@status.Info</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else {
        var alertCssClass = "";
        switch (status.Kind) {
            case FlashStatusKind.Info:
                alertCssClass = "alert-info";
                break;
            case FlashStatusKind.Success:
                alertCssClass = "alert-success";
                break;
            case FlashStatusKind.Warning:
                alertCssClass = "alert-warning";
                break;
            case FlashStatusKind.Error:
                alertCssClass = "alert-danger";
                break;
            default:
                alertCssClass = "alert-info";
                break;
        }
        <div class="alert alert-dismissible @alertCssClass" id="flashStatusAlert" role="alert">
            <button class="close" onclick="$('#flashStatusAlert').hide();">×</button>
            <span id="alert-message">@status.Message</span>
        </div>
    }
}
