<!DOCTYPE html>
<html><head><title>EditorToolbar.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(127);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#EASYTools.HTMLFullEditor/Views/EditorToolbar.xaml" target="_top">Views\EditorToolbar.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#EASYTools.HTMLFullEditor" target="_top">..\..\..\EASY-TOOLS\EASYTools.HTMLFullEditor\EASYTools.HTMLFullEditor\EASYTools.HTMLFullEditor.csproj</a> (EASYTools.HTMLFullEditor)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">UserControl</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">EASYTools.HTMLFullEditor.Views.EditorToolbar</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    d:DesignHeight</span><span class="xd">=</span>&quot;<span class="xav">26</span>&quot;<span class="xan">
    d:DesignWidth</span><span class="xd">=</span>&quot;<span class="xav">800</span>&quot;<span class="xan">
    x:ClassModifier</span><span class="xd">=</span>&quot;<span class="xav">internal</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">ResourceDictionary</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ResourceDictionary.MergedDictionaries</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ResourceDictionary </span><span class="xan">Source</span><span class="xd">=</span>&quot;<span class="xav">/EASYTools.HTMLFullEditor;component/Resources/Icons.xaml</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ResourceDictionary.MergedDictionaries</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">ResourceDictionary</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
 
    &lt;</span><span class="xn">ToolBarTray</span><span class="xd">&gt;</span><span class="xd">
        &lt;!--</span><span class="c">  CommandBar is managed dynamically, this is just for preview/design purposes:  </span><span class="xd">--&gt;</span><span class="xd">
        &lt;</span><span class="xn">ToolBar </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">CommandBar</span>&quot; <span class="xan">ToolBarTray.IsLocked</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;!--</span><span class="c">  Styles for disabled Paths/Images  </span><span class="xd">--&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToolBar.Resources</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Style </span><span class="xan">TargetType</span><span class="xd">=</span>&quot;<span class="xav">Path</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Style.Triggers</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Trigger </span><span class="xan">Property</span><span class="xd">=</span>&quot;<span class="xav">IsEnabled</span>&quot; <span class="xan">Value</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">Setter </span><span class="xan">Property</span><span class="xd">=</span>&quot;<span class="xav">Opacity</span>&quot; <span class="xan">Value</span><span class="xd">=</span>&quot;<span class="xav">0.5</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Trigger</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Style.Triggers</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Style</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Style </span><span class="xan">TargetType</span><span class="xd">=</span>&quot;<span class="xav">Image</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Style.Triggers</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Trigger </span><span class="xan">Property</span><span class="xd">=</span>&quot;<span class="xav">IsEnabled</span>&quot; <span class="xan">Value</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">Setter </span><span class="xan">Property</span><span class="xd">=</span>&quot;<span class="xav">Opacity</span>&quot; <span class="xan">Value</span><span class="xd">=</span>&quot;<span class="xav">0.5</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Trigger</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Style.Triggers</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Style</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToolBar.Resources</span><span class="xd">&gt;</span><span class="xd">
 
            &lt;</span><span class="xn">ComboBox </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">128</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ComboBox </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">42</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Bold}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Italic}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Underline}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button </span><span class="xan">Padding</span><span class="xd">=</span>&quot;<span class="xav">2,2,0,2</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Viewbox </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">-2,0,2,0</span>&quot; <span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_HighlightColor_Main}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">-2,0,2,0</span>&quot; <span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_HighlightColor_Underscore}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Viewbox</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot; <span class="xan">Padding</span><span class="xd">=</span>&quot;<span class="xav">0,7,2,7</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_DropDownArrow}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button </span><span class="xan">Padding</span><span class="xd">=</span>&quot;<span class="xav">2,2,0,2</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Viewbox </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">-2,0,2,0</span>&quot; <span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_TextColor_Main}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">-2,0,2,0</span>&quot; <span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_TextColor_Underscore}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Viewbox</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot; <span class="xan">Padding</span><span class="xd">=</span>&quot;<span class="xav">0,7,2,7</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_DropDownArrow}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_AlignLeft}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_AlignCenter}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_AlignRight}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_BulletList}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_NumberedList}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Outdent}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Indent}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Viewbox </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Bucket_Main}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Bucket_UnderscoreAndDrop}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Viewbox</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Image}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Earth}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Separator </span><span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">Content</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource Icon_Code}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ToggleButton</span><span class="xd">&gt;</span><span class="xd">
            &lt;!--</span><span class="c">&lt;Separator/&gt;
            &lt;Label Margin=&quot;0&quot; Padding=&quot;0 2&quot;&gt;Test:&lt;/Label&gt;
            &lt;Button&gt;&lt;ContentControl Content=&quot;{StaticResource Icon_Signature}&quot;/&gt;&lt;/Button&gt;
            &lt;Button&gt;&lt;ContentControl Content=&quot;{StaticResource Icon_EmptyFile}&quot;/&gt;&lt;/Button&gt;
            &lt;Button&gt;&lt;ContentControl Content=&quot;{StaticResource Icon_AddFile}&quot;/&gt;&lt;/Button&gt;
            &lt;Button&gt;&lt;ContentControl Content=&quot;{StaticResource Icon_NewFile}&quot;/&gt;&lt;/Button&gt;
            &lt;Button&gt;&lt;ContentControl Content=&quot;{StaticResource Icon_Save}&quot;/&gt;&lt;/Button&gt;</span><span class="xd">--&gt;</span><span class="xd">
        &lt;/</span><span class="xn">ToolBar</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">ToolBarTray</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">UserControl</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
