<!DOCTYPE html>
<html><head><title>EditorToolbar.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(94);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#EASYTools.HTMLFullEditor/Views/EditorToolbar.xaml.cs" target="_top">Views\EditorToolbar.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#EASYTools.HTMLFullEditor" target="_top">..\..\..\EASY-TOOLS\EASYTools.HTMLFullEditor\EASYTools.HTMLFullEditor\EASYTools.HTMLFullEditor.csproj</a> (EASYTools.HTMLFullEditor)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>;
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;
<b>using</b> <span class="i n">EASYTools</span>.<span class="i n">HTMLFullEditor</span>.<span class="i n">Code</span>;
<b>using</b> <span class="i n">EASYTools</span>.<span class="i n">HTMLFullEditor</span>.<span class="i n">ViewModels</span>;
 
<b>namespace</b> <span class="i n">EASYTools</span>.<span class="i n">HTMLFullEditor</span>.<span class="i n">Views</span>
{
    <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
    <span class="c">///</span><span class="c"> Interaction logic for Toolbar.xaml</span>
    <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
    <b>internal</b> <a href="../P/e069d9f0e7680679.html" target="s" class="k">partial</a> <b>class</b> <a id="e069d9f0e7680679" href="../R/e069d9f0e7680679.html" target="n" data-glyph="2,0" class="t t">EditorToolbar</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>public</b> <a id="eae3af8d4d5f5df6" href="../R/eae3af8d4d5f5df6.html" target="n" data-glyph="72,1" class="t constructor">EditorToolbar</a>()
        {
            <a href="../obj/Debug/Views/EditorToolbar.g.cs.html#dcefc1eb6aad55c5" class="i method">InitializeComponent</a>();
 
            <b>if</b> (!<span class="i n">System</span>.<span class="i n">ComponentModel</span>.<a href="@0@PresentationFramework/A.html#75f95eee6bd69fa9" class="t t">DesignerProperties</a>.<a href="@0@PresentationFramework/A.html#940ce1b313016b20" class="i method">GetIsInDesignMode</a>(<a href="../P/e069d9f0e7680679.html#e069d9f0e7680679" class="k">this</a>))
            {
                <a href="@0@PresentationFramework/A.html#a815b4f12f279dee" class="i">Loaded</a> += (<span id="r0 rd" class="r0 r">s</span>, <span id="r1 rd" class="r1 r">e</span>) =&gt;
                {
                    <b>if</b> (!<a href="#0e84540513707d28" class="i method">InitViewModel</a>())
                    {
                        <a href="#780ef59912e2bde5" class="i method">AdjustToolbarOverflowToggleButton</a>(<a href="../obj/Debug/Views/EditorToolbar.g.cs.html#5ac47899adb4651f" class="i field">CommandBar</a>);
                    }
                };
                <a href="@0@PresentationFramework/A.html#e9cd138948b0bdc4" class="i">DataContextChanged</a> += (<span id="r2 rd" class="r2 r">s</span>, <span id="r3 rd" class="r3 r">e</span>) =&gt; <a href="#0e84540513707d28" class="i method">InitViewModel</a>();
            }
        }
 
        <b>private bool</b> <a id="058b68cbcb8b998a" href="../R/058b68cbcb8b998a.html" target="n" data-glyph="46,1" class="i field">_isInitialized</a>;
        <b>private bool</b> <a id="0e84540513707d28" href="../R/0e84540513707d28.html" target="n" data-glyph="76,1" class="i method">InitViewModel</a>()
        {
            <b>if</b> (!<a href="#058b68cbcb8b998a" class="i field">_isInitialized</a> &amp;&amp; <a href="#2458233578f3e260" class="i property">ViewModel</a> != <b>null</b>)
            {
                <a href="#2458233578f3e260" class="i property">ViewModel</a>.<a href="../ViewModels/ToolbarViewModel.cs.html#1438324e3b1958e0" class="i method">SetToolbarContainer</a>(<a href="../obj/Debug/Views/EditorToolbar.g.cs.html#5ac47899adb4651f" class="i field">CommandBar</a>);
                <a href="../Code/ToolbarCommands.cs.html#294a0d3a11b03de5" class="t t">ToolbarCommands</a>.<a href="../Code/ToolbarCommands.cs.html#cd8eeed1daf3712b" class="i method">RegisterAll</a>(<a href="#2458233578f3e260" class="i property">ViewModel</a>);
                <a href="#2458233578f3e260" class="i property">ViewModel</a>.<a href="../ViewModels/ToolbarViewModel.cs.html#97c485383fe3bef9" class="i">PropertyChanged</a> += (<span id="r4 rd" class="r4 r">s</span>, <span id="r5 rd" class="r5 r">e</span>) =&gt;
                {
                    <b>if</b> (<span class="r5 r">e</span>.<a href="@0@System/A.html#edc039b147e83726" class="i property">PropertyName</a> == <b>nameof</b>(<a href="#2458233578f3e260" class="i property">ViewModel</a>.<a href="../ViewModels/ToolbarViewModel.cs.html#235ee31e035db8e0" class="i property">EnableOverflowMode</a>))
                    {
                        <a href="#780ef59912e2bde5" class="i method">AdjustToolbarOverflowToggleButton</a>(<a href="../obj/Debug/Views/EditorToolbar.g.cs.html#5ac47899adb4651f" class="i field">CommandBar</a>);
                    }
                };
 
                <a href="#780ef59912e2bde5" class="i method">AdjustToolbarOverflowToggleButton</a>(<a href="../obj/Debug/Views/EditorToolbar.g.cs.html#5ac47899adb4651f" class="i field">CommandBar</a>);
                <a href="#058b68cbcb8b998a" class="i field">_isInitialized</a> = <b>true</b>;
 
                <b>return</b> <b>true</b>;
            }
 
            <b>return</b> <b>false</b>;
        }
 
        <span class="k preprocess">#</span><span class="k preprocess">region</span> Overflow button
 
        <b>private</b> <a href="@0@PresentationCore/A.html#2668d640196eddd0" class="t t">Visibility</a>? <a id="a82ef2b059a1461a" href="../R/a82ef2b059a1461a.html" target="n" data-glyph="46,1" class="i field">_overflowGridDefaultVisibility</a>;
        <b>private</b> <a href="@0@PresentationFramework/A.html#109d8135ab5a3074" class="t t">Thickness</a>? <a id="7eb6329fbc71f39e" href="../R/7eb6329fbc71f39e.html" target="n" data-glyph="46,1" class="i field">_mainPanelBorderDefaultMargin</a>;
 
        <b>private void</b> <a id="780ef59912e2bde5" href="../R/780ef59912e2bde5.html" target="n" data-glyph="76,1" class="i method">AdjustToolbarOverflowToggleButton</a>(<a href="@0@PresentationFramework/A.html#933cab1aaa39831a" class="t t">ToolBar</a> <span id="r6 rd" class="r6 r">toolBar</span>)
        {
            <b>if</b> (<span class="r6 r">toolBar</span>.<a href="@0@PresentationFramework/A.html#daecaeeeebb2beb9" class="i property">Template</a>.<a href="@0@PresentationFramework/A.html#e5c8679caf5f914f" class="i method">FindName</a>(<span class="s">&quot;OverflowGrid&quot;</span>, <span class="r6 r">toolBar</span>) <b>is</b> <a href="@0@PresentationFramework/A.html#d2d98a3022fbac2f" class="t t">FrameworkElement</a> <span id="r7 rd" class="r7 r">overflowGrid</span>)
            {
                <b>if</b> (<a href="#a82ef2b059a1461a" class="i field">_overflowGridDefaultVisibility</a> == <b>null</b>)
                {
                    <a href="#a82ef2b059a1461a" class="i field">_overflowGridDefaultVisibility</a> = <span class="r7 r">overflowGrid</span>.<a href="@0@PresentationCore/A.html#69f262dd47fdf2be" class="i property">Visibility</a>;
                }
 
                <span class="r7 r">overflowGrid</span>.<a href="@0@PresentationCore/A.html#69f262dd47fdf2be" class="i property">Visibility</a> = <a href="#2458233578f3e260" class="i property">ViewModel</a>.<a href="../ViewModels/ToolbarViewModel.cs.html#235ee31e035db8e0" class="i property">EnableOverflowMode</a>
                    ? <a href="#a82ef2b059a1461a" class="i field">_overflowGridDefaultVisibility</a>.<a href="@0@mscorlib/A.html#7b38d1fa76071c95" class="i property">Value</a>
                    : <a href="@0@PresentationCore/A.html#2668d640196eddd0" class="t t">Visibility</a>.<a href="@0@PresentationCore/A.html#b5dcd78ae53c5916" class="i field">Collapsed</a>;
            }
 
            <b>if</b> (<span class="r6 r">toolBar</span>.<a href="@0@PresentationFramework/A.html#daecaeeeebb2beb9" class="i property">Template</a>.<a href="@0@PresentationFramework/A.html#e5c8679caf5f914f" class="i method">FindName</a>(<span class="s">&quot;MainPanelBorder&quot;</span>, <span class="r6 r">toolBar</span>) <b>is</b> <a href="@0@PresentationFramework/A.html#d2d98a3022fbac2f" class="t t">FrameworkElement</a> <span id="r8 rd" class="r8 r">mainPanelBorder</span>)
            {
                <b>if</b> (<a href="#7eb6329fbc71f39e" class="i field">_mainPanelBorderDefaultMargin</a> == <b>null</b>)
                {
                    <a href="#7eb6329fbc71f39e" class="i field">_mainPanelBorderDefaultMargin</a> = <span class="r8 r">mainPanelBorder</span>.<a href="@0@PresentationFramework/A.html#8aedc94268115177" class="i property">Margin</a>;
                }
 
                <span class="r8 r">mainPanelBorder</span>.<a href="@0@PresentationFramework/A.html#8aedc94268115177" class="i property">Margin</a> = <a href="#2458233578f3e260" class="i property">ViewModel</a>.<a href="../ViewModels/ToolbarViewModel.cs.html#235ee31e035db8e0" class="i property">EnableOverflowMode</a>
                    ? <a href="#7eb6329fbc71f39e" class="i field">_mainPanelBorderDefaultMargin</a>.<a href="@0@mscorlib/A.html#7b38d1fa76071c95" class="i property">Value</a>
                    : <b>new</b> <a href="@0@PresentationFramework/A.html#109d8135ab5a3074" class="t constructor">Thickness</a>();
            }
        }
 
        <span class="k preprocess">#</span><span class="k preprocess">endregion</span>
 
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;</span><span class="c">summary</span><span class="c">&gt;</span>
        <span class="c">///</span><span class="c"> Gets current ViewModel.</span>
        <span class="c">///</span><span class="c"> </span><span class="c">&lt;/</span><span class="c">summary</span><span class="c">&gt;</span>
        <b>internal</b> <a href="../ViewModels/ToolbarViewModel.cs.html#9e968c4319c4503a" class="t t">ToolbarViewModel</a> <a id="2458233578f3e260" href="../R/2458233578f3e260.html" target="n" data-glyph="104,1" class="i property">ViewModel</a> =&gt; <a href="@0@PresentationFramework/A.html#e4aaca7514916173" class="i property">DataContext</a> <b>as</b> <a href="../ViewModels/ToolbarViewModel.cs.html#9e968c4319c4503a" class="t t">ToolbarViewModel</a>;
    }
}
</pre></td></tr></table></div></body></html>
