/* html { overflow-y: hidden; } */

a#text-size {
    text-decoration: none;
    color: #1d1d1d;
}

.footer-img:hover{
    color: transparent !important;
    text-decoration: none !important;
}

a#font-style {
    text-decoration: none;
    color: #1d1d1d;
}

.dropdown-toggle::after {
    display: none;
}
.cloud-color {
    color: grey;
}
.cloud-color:hover {
    color: lightblue;
}
.my_nav {
    width: 100%;
    text-align: right;
    flex-direction: row-reverse !important;
    flex-grow: 1;
}

.main-div {
    /*margin-left: 60px;*/
    margin-left: 4%;
}

.margin-for-left {
    margin-left: 6px;
}

.margin-for-left-3 {
    margin-left: 6px;
}

.margin-for-left-2 {
    margin-left: 6px;
}

.my_nav li {
    display: inline-block;
}

.my_nav li a.dropdown-toggle {
    padding-right: 0 !important;
}

ul.topbar-menu li.drop_mine {
    position: relative;
}

ul.topbar-menu li.drop_mine ul {
    background-color: rgb(58, 112, 136, 0.7);
    margin-left: 0;
    width: 152px;
    position: absolute;
    top: 48px;
    padding-left: 0;
}

ul.topbar-menu li.drop_mine ul li {
    list-style: none;
}

ul.topbar-menu li.drop_mine ul li a {
    color: #fff;
}

.border {
    border: 1px solid #fff;
}

@media screen and (max-width: 2560px) and (min-width: 2101px) {
    .main-div {
        margin-left: 22%;
    }
}

@media screen and (max-width: 2100px) and (min-width: 1878px) {
    .main-div {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1877px) and (min-width: 1737px) {
    .main-div {
        margin-left: 12%;
    }
}

@media screen and (max-width: 1736px) and (min-width: 1641px) {
    .main-div {
        margin-left: 9%;
    }
}

@media screen and (max-width: 1557px) and (min-width: 1441px) {
    .main-div {
        margin-left: 1%;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1405px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -1%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1404px) and (min-width: 1390px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -1.7%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1389px) and (min-width: 1367px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -2.7%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1366px) and (min-width: 1350px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -4%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
    .data-width{
    width: 599px !important;
        left: 383.5px !important;
}
.toggle-margin {
    margin-top: 26px;
    margin-left: 197px;
    }
}

@media screen and (max-width: 1349px) and (min-width: 1338px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -4%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1337px) and (min-width: 1327px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -4%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1326px) and (min-width: 1320px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -4.7%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1319px) and (min-width: 1311px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -5%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1310px) and (min-width: 1300px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -5.6%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1299px) and (min-width: 1292px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: -6%;
    }
    /* .tiles-area 
    {
        width: 768px !important;
    }
    .tiles-group 
    {
        margin-left: 6px !important;
    }
    .responsive-layout 
    {
        top: 10px !important;
    } */
}

@media screen and (max-width: 1291px) and (min-width: 1250px) {
    .width-container {
        width: 1366px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 6%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 81px !important;
    }
}

@media screen and (max-width: 1249px) and (min-width: 1179px) {
    .width-container {
        width: 1366px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 3%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 81px !important;
    }
}

@media screen and (max-width: 1178px) and (min-width: 1145px) {
    .width-container {
        width: 1366px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 3%;
    }
    .toggle-margin {
    margin-top: 26px;
    margin-left: 197px;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 81px !important;
    }
}

@media screen and (max-width: 1144px) and (min-width: 1118px) {
    .width-container {
        width: 1366px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 1%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 81px !important;
    }
}

@media screen and (max-width: 1117px) and (min-width: 993px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 13%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 992px) and (min-width: 953px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 13%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 952px) and (min-width: 940px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 10%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 939px) and (min-width: 861px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 6%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 860px) and (min-width: 814px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 3%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 813px) and (min-width: 769px) {
    .width-container {
        width: 1051px !important;
    }
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 3%;
    }
    /* 
    .tiles-group 
    {
        margin-left: 6px !important;
    } */
    .responsive-layout-4 {
        top: 10px !important;
    }
    .margin-for-left {
        margin-left: 1px !important;
    }
    .margin-for-left-3 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 10px;
    }
}

@media screen and (max-width: 768px)and (min-width: 729px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 7%;
    }
    .tiles-area {
        width: 768px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout {
        top: 10px !important;
    }
    .responsive-layout-4 {
        top: 10px !important;
    }
    .responsive-layout-3 {
        top: 10px !important;
    }
}

@media screen and (max-width: 728px)and (min-width: 700px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 5%;
    }
    .tiles-area {
        width: 768px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout {
        top: 10px !important;
    }
}

@media screen and (max-width: 699px)and (min-width: 677px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 3%;
    }
    .tiles-area {
        width: 768px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout {
        top: 10px !important;
    }
}

@media screen and (max-width: 676px)and (min-width: 564px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 25%;
    }
    .tiles-area {
        width: 651px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout-2 {
        top: 16px !important;
    }
    .responsive-layout-3 {
        top: 25px !important;
    }
    .responsive-layout-4 {
        top: 34px !important;
    }
}

@media screen and (max-width: 563px)and (min-width: 488px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 21%;
    }
    .tiles-area {
        width: 651px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout-2 {
        top: 8px !important;
    }
    .margin-for-left-2 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 22px !important;
    }
    .responsive-layout-4 {
        top: 32px !important;
    }
}

@media screen and (max-width: 487px)and (min-width: 450px) {
    .main-div {
        /*margin-left: 60px;*/
        margin-left: 16%;
    }
    .tiles-area {
        width: 651px !important;
    }
    .tiles-group {
        margin-left: 6px !important;
    }
    .responsive-layout-2 {
        top: 8px !important;
    }
    .margin-for-left-2 {
        margin-left: 80px;
    }
    .responsive-layout-3 {
        top: 22px !important;
    }
    .responsive-layout-4 {
        top: 32px !important;
    }
}

@media screen and (max-width: 449px) and (min-width: 376px) {
    .mobile-inline-display {
        display: inline;
    }
    .main-div {
        margin-left: -3%;
    }
    .margin-for-left-2 {
        margin-left: 0px;
        left: 80px !important;
    }
    .margin-for-left-3 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left-4 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left {
        left: 68px !important;
    }
    .tile-medium {
        width: 310px;
        height: 150px;
    }
    /* a.bg-indigo.fg-white.tile-medium {
    bottom: 10px;
}
a.bg-cyan.fg-white.tile-medium {
    bottom: 10px;
}
a.bg-orange.fg-white.tile-wide {
    bottom: 10px;
} */
    [class*=tile-] {
        margin-top: 10px;
    }
    .width-container {
        width: 200px !important;
    }
}

@media screen and (max-width: 375px) and (min-width: 364px) {
    .mobile-inline-display {
        display: inline;
    }
    .main-div {
        margin-left: -11%;
    }
    .margin-for-left-2 {
        margin-left: 0px;
        left: 80px !important;
    }
    .margin-for-left-3 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left-4 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left {
        left: 68px !important;
    }
    .tile-medium {
        width: 310px;
        height: 150px;
    }
    [class*=tile-] {
        margin-top: 10px;
    }
    .width-container {
        width: 200px !important;
    }
}

@media screen and (max-width: 363px) and (min-width: 341px) {
    .mobile-inline-display {
        display: inline;
    }
    .main-div {
        margin-left: -17%;
    }
    .margin-for-left-2 {
        margin-left: 0px;
        left: 80px !important;
    }
    .margin-for-left-3 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left-4 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left {
        left: 68px !important;
    }
    .tile-medium {
        width: 310px;
        height: 150px;
    }
    [class*=tile-] {
        margin-top: 10px;
    }
    .width-container {
        width: 200px !important;
    }
}

@media screen and (max-width: 340px) and (min-width: 321px) {
    .mobile-inline-display {
        display: inline;
    }
    .main-div {
        margin-left: -23%;
    }
    .margin-for-left-2 {
        margin-left: 0px;
        left: 80px !important;
    }
    .margin-for-left-3 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left-4 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left {
        left: 68px !important;
    }
    .tile-medium {
        width: 310px;
        height: 150px;
    }
    [class*=tile-] {
        margin-top: 10px;
    }
    .width-container {
        width: 200px !important;
    }
}

@media screen and (max-width: 320px) and (min-width: 200px) {
    .main-div {
        margin-left: -23%;
    }
    .mobile-inline-display {
        display: inline;
    }
    .margin-for-left-2 {
        margin-left: 0px;
        left: 80px !important;
    }
    .margin-for-left-3 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left-4 {
        margin-left: 0px;
        left: 74px !important;
    }
    .margin-for-left {
        left: 68px !important;
    }
    .tile-medium {
        width: 310px;
        height: 150px;
    }

    [class*=tile-] {
        margin-top: 10px;
    }
    .width-container {
        width: 200px !important;
    }
}