@using ERS.Views.Manage


<nav class="nav flex-column nav-pills">
    <a class="text-center nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-action="Index">Profile</a>
    <a class="text-center nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) " asp-action="ChangePassword">Password</a>
</nav>

