$blue: #22B9FF;
$grey: #b8bac3;

body{
    .navbar-fixed-left {
    width: 100px;
    position: fixed;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089);
    z-index: 2;

    //  &.overlay::after{
    //      display: block;
    //      position: fixed;
    //      padding: 100px 0;
    //      width: 100%;
    //      height: 100%;
    //      top: 0;
    //      left: 0;
    //      background-color: rgba(black, 0.5);
    //      z-index: 99;
    //  } 

        ul{
            color: red;
            text-align: center;
            position: absolute;
            top: 0;
            height: 100%;
            &.Dropright{
                width:280px;
                list-style: none;
                min-height: 100%;
                color: $grey;
                margin-left: 58px;
                text-align: left;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
                border-radius: 3px;
                padding: 30px;
                position: absolute;
                li{
                    font-size: 14px;
                    padding: 5px;
                    &.header{
                        font-weight: 600;
                        font-size: 16px;
                        padding-bottom: 18px;
                    }
                    i{
                        padding: 5px;
                        padding-left: 0;
                        width: 25px;
                    }
                    &:not(:first-of-type):hover{
                        color: $blue;
                        cursor: pointer;
                        i{
                            color: $blue;
                        }
                    }
                    &:first-of-type{
                        cursor: text;
                    }
                }
            }
            #tv, #home{
                left: 32.1px;
            }
            #home{
                height: 99.7vh;
                top: -110px;
            }

            #tv{
                height: 250px;
                &:active{
                    color: $blue;
                }
            }

            #calender{
                height: 265px;
            }

            #setting{
                height: 250px;
                left: 32px;
                top: -200px;
            }

            #help{
                height: 300px;
                left: 31px;
                top: -250px;
            }

            li{
                &.top{
                    img{
                        width: 56px; 
                        margin-top: 5px;
                        margin-left: 9px;
                    }
                }
                &.first-middle{
                   margin-top: 69px;
                }
                &.middle{
                    position: relative;
                    right:5px;
                    bottom: 23px;
                }
                &.bottom-1{
                    bottom: 90px;
                    position: absolute;
                    width: 81px;
                    right: 5px;
                }
                &.bottom-2{
                    bottom: 37px;
                    position: absolute;
                    width: 81px;
                    right: 4px;
                }
                i{
                    font-size: 1.3em;
                    padding: 17px 0;
                    color: $grey;
                    &.active{
                        color: $blue;
                    }
                    &:hover{
                        color: $blue;
                    }
                }
                &.active{
                    color: pink !important;
                }
            }
        }
    }
    nav.fixed-top{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
        z-index: 1;
        height: 80px;
        ul{
            margin-left: 20px;
            li{
                margin-right: 20px;
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                color: $grey;
                a.active{
                    color: $blue !important;
                    background-color: #f1f1f1;
                    border-radius: 3px;
                }
                &:hover{
                    color: $blue;
                }
                i{
                    font-size: 10px;
                    position: relative;
                    top: 9px;
                    left: 15px;
                }

                ul.Dropdown-menu{
                    position: absolute;
                    &.components{
                        top: 81px;
                        left: 105px;
                        height: 410px;
                        width: 280px;
                        color: $grey;
                    }
                    list-style: none;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
                    border-radius: 3px;
                    padding: 30px;

                    .header{
                        font-weight: 600;
                        font-size: 16px;
                        padding-bottom: 18px;
                    }

                    li:not(:first-of-type){
                        margin-top: 20px;
                    }
                    li{
                        font-weight: 400;
                        i{
                            font-size: 20px;
                            position: relative;
                            left: 0;
                            top: 0;
                        }
                    }

                }
            }
        }
        
    } 
    
    .nav-resized{
        display: none;
        position: fixed;
        width: 100%;
        .navbar{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
            height: 50px;
            a{
                img{
                    position: relative;
                    bottom: 8px;
                }
            }
            .menu{
                i{
                    font-size: 22px;
                    color: $grey;
                    position: absolute;
                    top: 14px;
                    right: 0;
                    margin-right: 30px;
                }
                .second-menu{
                    i{
                        right: 30px;
                        font-size: 26px;
                        top: 13px;
                    }
                    ul.second-menu-elements{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 2;
                        height: 100vh;
                        position: absolute;
                        width: 276px;
                        padding: 0;
                        padding-top: 33px;
                        li{
                            list-style: none;
                            color: $grey;
                            padding:  9px 30px;
                            font-size: 14px;
                        }
                        i{
                            position: absolute;
                            top: 3px;
                            left: 7px;
                            font-size: 18px;
                            padding: 6px;
                            padding-top: 4px;
                            width: 25px;
                            height: 25px;
                            background-color: #eeeeee;
                        }
                    }
                }
            }
        }
    }

    .onclick-mouse{
        cursor: pointer;
    }
    
    // .custom-carets{
    //     .dropdown-toggle::after{
    //         content: "\25AE";  /* this is your text. You can also use UTF-8 character codes as I do here */
    //         font-family: FontAwesome;
    //     }
    //     .dropdown-toggle > span.caret{
    //         display: none;
    //     }
    // }


    .website{
        margin-left: 100px;
        padding-top: 79px;
        padding-left: 25px;
        color: rgb(58, 58, 58);
        p{
            font-weight: 600;
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 1035px) {
        .navbar-fixed-left{
            display: none;
        }
        .fixed-top{
            display:none;
        }
        .website{
            margin-left: 0px;
            padding-top: 45px;
            padding-left: 15px;
        }
        .nav-resized{
            display: block;
        }
    }
}