body .navbar-fixed-left {
  width: 100px;
  position: fixed;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089);
  z-index: 2;
}
body .navbar-fixed-left ul {
  color: red;
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
}
body .navbar-fixed-left ul.Dropright {
  width: 280px;
  list-style: none;
  min-height: 100%;
  color: #b8bac3;
  margin-left: 58px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
  border-radius: 3px;
  padding: 30px;
  position: absolute;
}
body .navbar-fixed-left ul.Dropright li {
  font-size: 14px;
  padding: 5px;
}
body .navbar-fixed-left ul.Dropright li.header {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 18px;
}
body .navbar-fixed-left ul.Dropright li i {
  padding: 5px;
  padding-left: 0;
  width: 25px;
}
body .navbar-fixed-left ul.Dropright li:not(:first-of-type):hover {
  color: #22B9FF;
  cursor: pointer;
}
body .navbar-fixed-left ul.Dropright li:not(:first-of-type):hover i {
  color: #22B9FF;
}
body .navbar-fixed-left ul.Dropright li:first-of-type {
  cursor: text;
}
body .navbar-fixed-left ul #tv, body .navbar-fixed-left ul #home {
  left: 32.1px;
}
body .navbar-fixed-left ul #home {
  height: 99.7vh;
  top: -110px;
}
body .navbar-fixed-left ul #tv {
  height: 250px;
}
body .navbar-fixed-left ul #tv:active {
  color: #22B9FF;
}
body .navbar-fixed-left ul #calender {
  height: 265px;
}
body .navbar-fixed-left ul #setting {
  height: 250px;
  left: 32px;
  top: -200px;
}
body .navbar-fixed-left ul #help {
  height: 300px;
  left: 31px;
  top: -250px;
}
body .navbar-fixed-left ul li.top img {
  width: 56px;
  margin-top: 5px;
  margin-left: 9px;
}
body .navbar-fixed-left ul li.first-middle {
  margin-top: 69px;
}
body .navbar-fixed-left ul li.middle {
  position: relative;
  right: 5px;
  bottom: 23px;
}
body .navbar-fixed-left ul li.bottom-1 {
  bottom: 90px;
  position: absolute;
  width: 81px;
  right: 5px;
}
body .navbar-fixed-left ul li.bottom-2 {
  bottom: 37px;
  position: absolute;
  width: 81px;
  right: 4px;
}
body .navbar-fixed-left ul li i {
  font-size: 1.3em;
  padding: 17px 0;
  color: #b8bac3;
}
body .navbar-fixed-left ul li i.active {
  color: #22B9FF;
}
body .navbar-fixed-left ul li i:hover {
  color: #22B9FF;
}
body .navbar-fixed-left ul li.active {
  color: pink !important;
}
body nav.fixed-top {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048);
  z-index: 1;
  height: 80px;
}
body nav.fixed-top ul {
  margin-left: 20px;
}
body nav.fixed-top ul li {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #b8bac3;
}
body nav.fixed-top ul li a.active {
  color: #22B9FF !important;
  background-color: #f1f1f1;
  border-radius: 3px;
}
body nav.fixed-top ul li:hover {
  color: #22B9FF;
}
body nav.fixed-top ul li i {
  font-size: 10px;
  position: relative;
  top: 9px;
  left: 15px;
}
body nav.fixed-top ul li ul.Dropdown-menu {
  position: absolute;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
  border-radius: 3px;
  padding: 30px;
}
body nav.fixed-top ul li ul.Dropdown-menu.components {
  top: 81px;
  left: 105px;
  height: 410px;
  width: 280px;
  color: #b8bac3;
}
body nav.fixed-top ul li ul.Dropdown-menu .header {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 18px;
}
body nav.fixed-top ul li ul.Dropdown-menu li:not(:first-of-type) {
  margin-top: 20px;
}
body nav.fixed-top ul li ul.Dropdown-menu li {
  font-weight: 400;
}
body nav.fixed-top ul li ul.Dropdown-menu li i {
  font-size: 20px;
  position: relative;
  left: 0;
  top: 0;
}
body .nav-resized {
  display: none;
  position: fixed;
  width: 100%;
}
body .nav-resized .navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
  height: 50px;
}
body .nav-resized .navbar a img {
  position: relative;
  bottom: 8px;
}
body .nav-resized .navbar .menu i {
  font-size: 22px;
  color: #b8bac3;
  position: absolute;
  top: 14px;
  right: 0;
  margin-right: 30px;
}
body .nav-resized .navbar .menu .second-menu i {
  right: 30px;
  font-size: 26px;
  top: 13px;
}
body .nav-resized .navbar .menu .second-menu ul.second-menu-elements {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.116);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100vh;
  position: absolute;
  width: 276px;
  padding: 0;
  padding-top: 33px;
}
body .nav-resized .navbar .menu .second-menu ul.second-menu-elements li {
  list-style: none;
  color: #b8bac3;
  padding: 9px 30px;
  font-size: 14px;
}
body .nav-resized .navbar .menu .second-menu ul.second-menu-elements i {
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 18px;
  padding: 6px;
  padding-top: 4px;
  width: 25px;
  height: 25px;
  background-color: #eeeeee;
}
body .onclick-mouse {
  cursor: pointer;
}
body .website {
  margin-left: 100px;
  padding-top: 79px;
  padding-left: 25px;
  color: #3a3a3a;
}
body .website p {
  font-weight: 600;
  font-size: 18px;
}
@media only screen and (max-width: 1035px) {
  body .navbar-fixed-left {
    display: none;
  }
  body .fixed-top {
    display: none;
  }
  body .website {
    margin-left: 0px;
    padding-top: 45px;
    padding-left: 15px;
  }
  body .nav-resized {
    display: block;
  }
}

/*# sourceMappingURL=screen.css.map */
