@model ServerCorePages.DevPortalModel

@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown

@using ServerCorePages;
@using System.Security.Claims;
@using System.Text.RegularExpressions;
@using EasyITCenter.DBModel;
@using EasyITCenter.ServerCoreWebPages;
@using EasyITCenter.ServerCoreStructure;

@using Microsoft.AspNetCore.Html;
@using Westwind.AspNetCore.Markdown;
@using ReverseMarkdown;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EIC & ESB Developer Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="EasyITCenter">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- PRIMARY -->
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/metro/css/metro-all.css" />
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/metro/css/metro-icons.css" />
    <!-- TOOLS -->
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/tools/animate/css/animate.css" />
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/tools/flexslider/css/flexslider.css" />
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/tools/highlightjs/styles/default.min.css" />
    <!-- EXTENSIONS -->
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/extension-css/desktop.css" />
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/extension-css/bootstrap-treeview.min.css" />
    <!-- MANAGED -->
    <link rel="stylesheet" href="~/EIC&ESBOnlineDevelop/libraries/managed/css/site.css" />

    <!-- PRIMARY -->
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/jquery/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/metro/js/metro.4.5.2.min.js"></script>

    <!-- EXTENSIONS -->
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/desktop.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/js.cookie.min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/clipboard.min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/require.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/system.min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/common.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/browser.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/history.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/extension-js/bootstrap-treeview.min.js"></script>
    <!-- TOOLS -->
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/tools/flexslider/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/tools/ytplayer/js/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/tools/mermaid/js/mermaid.min.cdn.js"></script>
    <!-- MANAGED -->
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-defaultCfg.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-storage.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-api.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-functions.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-behavior.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-objects.js"></script>
    <script type="text/javascript" src="~/EIC&ESBOnlineDevelop/libraries/managed/js/global-generators.js"></script>

    <!-- Google Translation -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>


</body>
</html>