@model ServerCorePages.MarkDownFileModel

@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown
@using Microsoft.AspNetCore.Html;
@using EasyITCenter.ServerCoreStructure;
@using Westwind.AspNetCore.Markdown;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EIC-MarkDown File Viewer</title>
    <link rel="stylesheet" href="~/ServerCoreTools/markdown/css/bootstrap.css" />
    <link href="~/ServerCoreTools/markdown/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/ServerCoreTools/markdown/metro/css/metro3.css" rel="stylesheet" />
    <link href="~/ServerCoreTools/markdown/metro/css/metro-schemes.css" rel="stylesheet" />
    <link href="~/ServerCoreTools/markdown/metro/css/metro-icons.css" rel="stylesheet" />

    <script type="text/javascript" src="~/ServerCoreTools/markdown/js/jquery-3.6.0.min.js"> </script>
    <script type="text/javascript" src="~/ServerCoreTools/markdown/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/markdown/js/jspdf.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/markdown/js/clipboard.min.js"></script>

    <script type="text/javascript" src="~/ServerCoreTools/markdown/metro/js/metro-addon.js"></script>
    <script type="text/javascript" src="~/ServerCoreTools/markdown/metro/js/metro3.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
