<!DOCTYPE html>
<html><head><title>SettingsPage.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(122);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#ForcedLogin/Views/SettingsPage.xaml" target="_top">Views\SettingsPage.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#ForcedLogin" target="_top">HelpProjects\WPF-MAIN\WPFprism\ForcedLogin\ForcedLogin\ForcedLogin.csproj</a> (ForcedLogin)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">UserControl</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">ForcedLogin.Views.SettingsPage</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:converters</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:ForcedLogin.Converters</span>&quot;<span class="xan">
    xmlns:models</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:ForcedLogin.Models</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:ForcedLogin.Strings</span>&quot;<span class="xan">
    xmlns:i</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/xaml/behaviors</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Control.Background}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xan">
    d:DesignHeight</span><span class="xd">=</span>&quot;<span class="xav">450</span>&quot; <span class="xan">d:DesignWidth</span><span class="xd">=</span>&quot;<span class="xav">800</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">converters:EnumToBooleanConverter </span><span class="xan">x:Key</span><span class="xd">=</span>&quot;<span class="xav">EnumToBooleanConverter</span>&quot; <span class="xan">EnumType</span><span class="xd">=</span>&quot;<span class="xav">models:AppTheme</span>&quot; <span class="xd">/&gt;</span><span class="xd">
    &lt;/</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">TextBlock</span><span class="xan">
            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource PageTitleStyle}</span>&quot;<span class="xan">
            Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageTitle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">StackPanel</span><span class="xan">
            x:Name</span><span class="xd">=</span>&quot;<span class="xav">ContentArea</span>&quot;<span class="xan">
            Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumLeftRightMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">

            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPagePersonalizationTitle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">StackPanel </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopBottomMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">TextBlock</span><span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                    Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageChooseThemeText}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">StackPanel </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallTopMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">RadioButton</span><span class="xan">
                        GroupName</span><span class="xd">=</span>&quot;<span class="xav">AppTheme</span>&quot;<span class="xan">
                        Content</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageRadioButtonLightTheme}</span>&quot;<span class="xan">
                        FontSize</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumFontSize}</span>&quot;<span class="xan">
                        IsChecked</span><span class="xd">=</span>&quot;<span class="xav">{Binding Theme, Converter={StaticResource EnumToBooleanConverter}, ConverterParameter=Light}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Checked</span>&quot;<span class="xd">&gt;</span><span class="xd">
                                &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding SetThemeCommand}</span>&quot; <span class="xan">CommandParameter</span><span class="xd">=</span>&quot;<span class="xav">Light</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">RadioButton</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">RadioButton</span><span class="xan">
                        GroupName</span><span class="xd">=</span>&quot;<span class="xav">AppTheme</span>&quot;<span class="xan">
                        Content</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageRadioButtonDarkTheme}</span>&quot;<span class="xan">
                        Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallTopMargin}</span>&quot;<span class="xan">
                        FontSize</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumFontSize}</span>&quot;<span class="xan">
                        IsChecked</span><span class="xd">=</span>&quot;<span class="xav">{Binding Theme, Converter={StaticResource EnumToBooleanConverter}, ConverterParameter=Dark}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Checked</span>&quot;<span class="xd">&gt;</span><span class="xd">
                                &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding SetThemeCommand}</span>&quot; <span class="xan">CommandParameter</span><span class="xd">=</span>&quot;<span class="xav">Dark</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">RadioButton</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">


            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageUserTitle}</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">

            &lt;</span><span class="xn">StackPanel </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot; <span class="xan">Orientation</span><span class="xd">=</span>&quot;<span class="xav">Horizontal</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Ellipse </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">64</span>&quot; <span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">64</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Ellipse.Fill</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ImageBrush </span><span class="xan">ImageSource</span><span class="xd">=</span>&quot;<span class="xav">{Binding User.Photo}</span>&quot; <span class="xan">Stretch</span><span class="xd">=</span>&quot;<span class="xav">UniformToFill</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Ellipse.Fill</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Ellipse</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">StackPanel </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallLeftMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding User.Name}</span>&quot;<span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding User.UserPrincipalName}</span>&quot;<span class="xan">
                        Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallTopMargin}</span>&quot;<span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Hyperlink </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding LogOutCommand}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageLogOutButtonText}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Hyperlink</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">TextBlock</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageAboutTitle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding VersionDescription, Mode=OneWay}</span>&quot;<span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallTopMargin}</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallTopMargin}</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPageAboutText}</span>&quot; <span class="xd">/&gt;</span><span class="xd">

            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">{Binding Text, ElementName=settingsPrivacyStatement}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Hyperlink</span><span class="xan">
                    Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding PrivacyStatementCommand}</span>&quot;<span class="xan">
                    AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">{Binding Text, ElementName=settingsPrivacyStatement}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        x:Name</span><span class="xd">=</span>&quot;<span class="xav">settingsPrivacyStatement</span>&quot;<span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.SettingsPagePrivacyStatementText}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Hyperlink</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">TextBlock</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">UserControl</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
