<!DOCTYPE html>
<html><head><title>SettingsPage.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(13);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#ForcedLogin/Views/SettingsPage.xaml.cs" target="_top">Views\SettingsPage.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#ForcedLogin" target="_top">HelpProjects\WPF-MAIN\WPFprism\ForcedLogin\ForcedLogin\ForcedLogin.csproj</a> (ForcedLogin)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;

<b>namespace</b> <span class="i n">ForcedLogin</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/519c5eee80a48dcf.html" target="s" class="k">partial</a> <b>class</b> <a id="519c5eee80a48dcf" href="../R/519c5eee80a48dcf.html" target="n" data-glyph="0,0" class="t t">SettingsPage</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>public</b> <a id="8da55a31b81b3cde" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">SettingsPage</a>()
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/SettingsPage.g.cs.html#a654c36eeabb6b95" class="i method">InitializeComponent</a>();
        }
    }
}
</pre></td></tr></table></div></body></html>
