<!DOCTYPE html>
<html><head><title>ShellWindow.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(107);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#ForcedLogin/Views/ShellWindow.xaml" target="_top">Views\ShellWindow.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#ForcedLogin" target="_top">HelpProjects\WPF-MAIN\WPFprism\ForcedLogin\ForcedLogin\ForcedLogin.csproj</a> (ForcedLogin)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">controls:MetroWindow</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">ForcedLogin.Views.ShellWindow</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:controls</span><span class="xd">=</span>&quot;<span class="xav">http://metro.mahapps.com/winfx/xaml/controls</span>&quot;<span class="xan">
    xmlns:i</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/xaml/behaviors</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:ForcedLogin.Strings</span>&quot;<span class="xan">
    xmlns:templateSelectors</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:ForcedLogin.TemplateSelectors</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource CustomMetroWindow}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xan">
    Title</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.AppDisplayName}</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Loaded</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding LoadedCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Unloaded</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding UnloadedCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">controls:MetroWindow.LeftWindowCommands</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">controls:WindowCommands</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Button</span><span class="xan">
                Width</span><span class="xd">=</span>&quot;<span class="xav">{Binding ElementName=hamburgerMenu, Path=CompactPaneLength}</span>&quot;<span class="xan">
                AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">Go back</span>&quot;<span class="xan">
                Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding GoBackCommand}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">TextBlock</span><span class="xan">
                    Text</span><span class="xd">=</span>&quot;<span class="xav">&amp;#xE72B;</span>&quot;<span class="xan">
                    FontSize</span><span class="xd">=</span>&quot;<span class="xav">14</span>&quot;<span class="xan">
                    FontFamily</span><span class="xd">=</span>&quot;<span class="xav">Segoe MDL2 Assets</span>&quot;<span class="xan">
                    AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">Go back icon</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">controls:WindowCommands</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">controls:MetroWindow.LeftWindowCommands</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">controls:MetroWindow.Resources</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">templateSelectors:MenuItemTemplateSelector</span><span class="xan">
            x:Key</span><span class="xd">=</span>&quot;<span class="xav">MenuItemTemplateSelector</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">templateSelectors:MenuItemTemplateSelector.GlyphDataTemplate</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">DataTemplate </span><span class="xan">DataType</span><span class="xd">=</span>&quot;<span class="xav">{x:Type controls:HamburgerMenuGlyphItem}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Grid </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;</span><span class="xn">ColumnDefinition </span><span class="xd">/&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot;<span class="xan">
                            FontSize</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xan">
                            HorizontalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            FontFamily</span><span class="xd">=</span>&quot;<span class="xav">Segoe MDL2 Assets</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Glyph}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            FontSize</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Label}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">templateSelectors:MenuItemTemplateSelector.GlyphDataTemplate</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">templateSelectors:MenuItemTemplateSelector.ImageDataTemplate</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">DataTemplate </span><span class="xan">DataType</span><span class="xd">=</span>&quot;<span class="xav">{x:Type controls:HamburgerMenuImageItem}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Grid </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;</span><span class="xn">ColumnDefinition </span><span class="xd">/&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Ellipse</span><span class="xan">
                            Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot;<span class="xan">
                            Width</span><span class="xd">=</span>&quot;<span class="xav">24</span>&quot;<span class="xan">
                            Height</span><span class="xd">=</span>&quot;<span class="xav">24</span>&quot;<span class="xan">
                            HorizontalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">Ellipse.Fill</span><span class="xd">&gt;</span><span class="xd">
                                &lt;</span><span class="xn">ImageBrush </span><span class="xan">ImageSource</span><span class="xd">=</span>&quot;<span class="xav">{Binding Thumbnail}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;/</span><span class="xn">Ellipse.Fill</span><span class="xd">&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Ellipse</span><span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            FontSize</span><span class="xd">=</span>&quot;<span class="xav">16</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Label}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">templateSelectors:MenuItemTemplateSelector.ImageDataTemplate</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">templateSelectors:MenuItemTemplateSelector</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">controls:MetroWindow.Resources</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">controls:MetroWindow.Content</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">controls:HamburgerMenu</span><span class="xan">
            IsPaneOpen</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xan">
            DisplayMode</span><span class="xd">=</span>&quot;<span class="xav">CompactInline</span>&quot;<span class="xan">
            ItemsSource</span><span class="xd">=</span>&quot;<span class="xav">{Binding MenuItems}</span>&quot;<span class="xan">
            OptionsItemsSource</span><span class="xd">=</span>&quot;<span class="xav">{Binding OptionMenuItems}</span>&quot;<span class="xan">
            SelectedItem</span><span class="xd">=</span>&quot;<span class="xav">{Binding SelectedMenuItem}</span>&quot;<span class="xan">
            SelectedOptionsItem</span><span class="xd">=</span>&quot;<span class="xav">{Binding SelectedOptionsMenuItem}</span>&quot;<span class="xan">
            ItemCommand</span><span class="xd">=</span>&quot;<span class="xav">{Binding MenuItemInvokedCommand}</span>&quot;<span class="xan">
            OptionsItemCommand</span><span class="xd">=</span>&quot;<span class="xav">{Binding OptionsMenuItemInvokedCommand}</span>&quot;<span class="xan">
            ItemTemplateSelector</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MenuItemTemplateSelector}</span>&quot;<span class="xan">
            OptionsItemTemplateSelector</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MenuItemTemplateSelector}</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">controls:HamburgerMenu.Content</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ContentControl </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">hamburgerMenuContentControl</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">controls:HamburgerMenu.Content</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">controls:HamburgerMenu</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">controls:MetroWindow.Content</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">controls:MetroWindow</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
