@{

    ViewData["Title"] = "EasyReport Starter Kit";
    ViewData["Description"] = "ASP.NET Core template solution for adhoc reporting";
}

<section class="section-top top-buffer-30 bottom-buffer-30">
    <div class="container">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h1>EasyReport</h1>
                    <h3>Create, operate and share ad-hoc reports with just a few clicks</h3>
                    <img class="er-image-main" src="~/images/easy-report.png" alt="EasyReport - Create, operate and share ad-hoc reports with just a few clicks" />
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 d-inline top-buffer-60">
                    @if (Globals.NeedSetup) {
                        <button type="button" class="btn btn-block btn-primary btn-lg"
                                onclick="window.location.href='@Url.Action("Team", "Setup")'">
                            Get started
                        </button>
                        <p>
                            <h5>
                                To start with EasyReport you will be asked to create a team
                                and an administrator account for that team.
                            </h5>
                        <span>This is a one-time setup. 
                            When it's finished you will just need a login/passoword to enter the app.</span>
                        </p>
                    }
                    else {
                        <button type="button" class="btn btn-block btn-outline-primary btn-lg"
                                onclick="window.location.href='@Url.Action("Login","Account")'">
                            Login to an existing account
                        </button>
                        <p>
                            Please note: in the default configuration 
                                new accounts are created only by the team adminstrator.
                            However, this behavior can be changed if necessary.
                        </p>

                        @if (Globals.AllowGuestAccess) {
                            <button type="button" class="btn btn-block btn-outline-primary btn-lg"
                                    onclick="window.location.href='@Url.Action("LoginAsGuest","Account")'">
                                Login as a guest
                            </button>
                            <p>
                                The guest user (if enabled) can view shared reports or export the result data sets but is not able to change anything.
                            </p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-features top-buffer-60 bottom-buffer-60">
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="~/images/multi-user.png" alt="Multi-user teams">
                <div class="card-body">
                    <h5 class="card-title">Multi-user teams</h5>
                    <p class="card-text">Team unites users to let them use the same database connections and to share reports among team members. The administrator creates a new team and adds team members.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/images/simple-ui.png" alt="Simple UI">
                <div class="card-body">
                    <h5 class="card-title">Simple UI</h5>
                    <p class="card-text">Friendly, natural language query builder UI: users do not need to know about your tables, links, fields or any other DB-related things</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/images/smart-charts.png" alt="Smart charts">
                <div class="card-body">
                    <h5 class="card-title">Smart charts</h5>
                    <p class="card-text">Just add suitable columns to the report, and the chart will be rendered automatically</p>
                </div>
            </div>
        </div>
        <div class="card-deck top-buffer-60">
            <div class="card">
                <img class="card-img-top" src="~/images/databases.png" alt="Databases">
                <div class="card-body">
                    <h5 class="card-title">Connects to different databases</h5>
                    <p class="card-text">Whatever database<sup>*</sup> you use, you may connect to it and build your reports. All you need is the connection string to your database. Enter it - and we'll do the rest.</p>
                    <p class="card-text"><small class="text-muted">* We support MS SQL Server, MySQL, PostgreSQL, Oracle Database and SQLite</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/images/sharing.png" alt="Report sharing">
                <div class="card-body">
                    <h5 class="card-title">Report sharing</h5>
                    <p class="card-text">Every user may share their reports with other team members.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="~/images/export.png" alt="Report export">
                <div class="card-body">
                    <h5 class="card-title">Export</h5>
                    <p class="card-text">Export report results to Excel spreedsheet or CSV file for futher processing.</p>
                </div>
            </div>
        </div>
    </div>
</section>



@section styles {
    <style>
        h1 {
            font-size: 48px;
            color: #42494f;
            font-weight: 700;
        }

        h3 {
            color: #151b1e9e;
        }

        .er-image-main {
            max-width: 95%;
        }

        .er-or {
            color: #151b1e9e;
            padding: 20px 0;
            font-size: 1.53125rem;
            font-weight: 500;
        }

        .section-top {
            background-color: #f0f3f5;
        }

        .card-body {
            border-top: solid 1px #c2cfd6;
        }

        .card-img-top {
            max-width: 308px;
            margin: 10px auto;
        }
    </style>
}


@section Scripts{
    <script>

        $('#team-name').on('input keyup', function (e) {
            var teamName = $('#team-name').val();
            var teamMoniker = createMoniker(teamName);
            $('#team-moniker').val(teamMoniker);
        });

        function createMoniker(teamName) {
            var replaceRegex = /[\s\/\\{}\[\]\"',\.%&#\$\*^:]+/g;
            var result = teamName.toLowerCase().replace(replaceRegex, "-");
            return result;
        }
    </script>
}
