@{
    ViewData["Title"] = "Privacy";
}

<section class="section mt-4">
    <div class="container">
        <div class="row">
            <article>
                <header class="entry-header">
                    <h2>PRIVACY POLICY</h2>
                </header>
                <div class="entry-content">
                    This is the place for your privacy...
                </div>
            </article>
        </div>
    </div>
</section>
