<!DOCTYPE html>
<html><head><title>ShellWindow.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(21);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#MenuBar/Views/ShellWindow.xaml.cs" target="_top">Views\ShellWindow.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#MenuBar" target="_top">HelpProjects\WPF-MAIN\WPFprism\MenuBar\MenuBar\MenuBar.csproj</a> (MenuBar)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">MahApps</span>.<span class="i n">Metro</span>.<span class="i n">Controls</span>;

<b>using</b> <span class="i n">MenuBar</span>.<span class="i n">Constants</span>;
<b>using</b> <span class="i n">MenuBar</span>.<span class="i n">Contracts</span>.<span class="i n">Services</span>;

<b>using</b> <span class="i n">Prism</span>.<span class="i n">Regions</span>;

<b>namespace</b> <span class="i n">MenuBar</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/e850ff2cdcb8070c.html" target="s" class="k">partial</a> <b>class</b> <a id="e850ff2cdcb8070c" href="../R/e850ff2cdcb8070c.html" target="n" data-glyph="0,0" class="t t">ShellWindow</a> : <a href="/MahApps.Metro/A.html#5a37f9897ea7f8e0" class="t t">MetroWindow</a>
    {
        <b>public</b> <a id="d2820fcc4d7f866a" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">ShellWindow</a>(<span class="t t">IRegionManager</span> <span id="r0 rd" class="r0 r">regionManager</span>, <a href="../Contracts/Services/IRightPaneService.cs.html#3c710b85eba866b0" class="t t">IRightPaneService</a> <span id="r1 rd" class="r1 r">rightPaneService</span>)
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#b9fe03cfb9284e58" class="i method">InitializeComponent</a>();
            <span class="t t">RegionManager</span>.<span class="i method">SetRegionName</span>(<a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#3e595997efe92ff7" class="i field">menuContentControl</a>, <a href="../Constants/Regions.cs.html#1b2492a4369bfa50" class="t t">Regions</a>.<a href="../Constants/Regions.cs.html#ae2f43042b2c3eb3" class="i field">Main</a>);
            <span class="t t">RegionManager</span>.<span class="i method">SetRegionManager</span>(<a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#3e595997efe92ff7" class="i field">menuContentControl</a>, <span class="r0 r">regionManager</span>);
            <span class="r1 r">rightPaneService</span>.<a href="../Contracts/Services/IRightPaneService.cs.html#5bd34dc99b1e8a75" class="i method">Initialize</a>(<a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#9368ba4cea497f24" class="i field">splitView</a>, <a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#cc5678aa649c1507" class="i field">rightPaneContentControl</a>);
        }
    }
}
</pre></td></tr></table></div></body></html>
