<!DOCTYPE html>
<html><head><title>WebViewPage.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(91);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#MenuBar/Views/WebViewPage.xaml" target="_top">Views\WebViewPage.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#MenuBar" target="_top">HelpProjects\WPF-MAIN\WPFprism\MenuBar\MenuBar\MenuBar.csproj</a> (MenuBar)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">UserControl</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">MenuBar.Views.WebViewPage</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:MenuBar.Strings</span>&quot;<span class="xan">
    xmlns:communityToolkit</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:Microsoft.Toolkit.Wpf.UI.Controls;assembly=Microsoft.Toolkit.Wpf.UI.Controls.WebView</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Control.Background}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xan">
    d:DesignHeight</span><span class="xd">=</span>&quot;<span class="xav">450</span>&quot; <span class="xan">d:DesignWidth</span><span class="xd">=</span>&quot;<span class="xav">800</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">UserControl.InputBindings</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">KeyBinding </span><span class="xan">Key</span><span class="xd">=</span>&quot;<span class="xav">F5</span>&quot; <span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding RefreshCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">KeyBinding </span><span class="xan">Modifiers</span><span class="xd">=</span>&quot;<span class="xav">Alt</span>&quot; <span class="xan">Key</span><span class="xd">=</span>&quot;<span class="xav">Left</span>&quot; <span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding BrowserBackCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">KeyBinding </span><span class="xan">Modifiers</span><span class="xd">=</span>&quot;<span class="xav">Alt</span>&quot; <span class="xan">Key</span><span class="xd">=</span>&quot;<span class="xav">Right</span>&quot; <span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding BrowserForwardCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">KeyBinding </span><span class="xan">Modifiers</span><span class="xd">=</span>&quot;<span class="xav">Ctrl</span>&quot; <span class="xan">Key</span><span class="xd">=</span>&quot;<span class="xav">T</span>&quot; <span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding OpenInBrowserCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
    &lt;/</span><span class="xn">UserControl.InputBindings</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">Auto</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">communityToolkit:WebView</span><span class="xan">
            x:Name</span><span class="xd">=</span>&quot;<span class="xav">webView</span>&quot;<span class="xan">
            Source</span><span class="xd">=</span>&quot;<span class="xav">{Binding Source}</span>&quot;<span class="xan">
            NavigationCompleted</span><span class="xd">=</span>&quot;<span class="xav">OnNavigationCompleted</span>&quot;<span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid</span><span class="xan">
            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Bottom</span>&quot;<span class="xan">
            Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
            Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Gray10}</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">Auto</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">Auto</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">StackPanel </span><span class="xan">Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot; <span class="xan">Orientation</span><span class="xd">=</span>&quot;<span class="xav">Horizontal</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Button</span><span class="xan">
                    Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding BrowserBackCommand}</span>&quot;<span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource WebViewButtonStyle}</span>&quot;<span class="xan">
                    ToolTip</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageBackButtonTooltip}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallIconStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">&amp;#xE72B;</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Button</span><span class="xan">
                    Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding BrowserForwardCommand}</span>&quot;<span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource WebViewButtonStyle}</span>&quot;<span class="xan">
                    ToolTip</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageForwardButtonTooltip}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallIconStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">&amp;#xE72A;</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">StackPanel </span><span class="xd">&gt;</span><span class="xd">

            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallLeftMargin}</span>&quot;<span class="xan">
                Visibility</span><span class="xd">=</span>&quot;<span class="xav">{Binding IsLoadingVisibility}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageLoadingText}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallLeftMargin}</span>&quot;<span class="xan">
                Visibility</span><span class="xd">=</span>&quot;<span class="xav">{Binding FailedMesageVisibility}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageFaildedMessage}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">StackPanel </span><span class="xan">Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">2</span>&quot; <span class="xan">Orientation</span><span class="xd">=</span>&quot;<span class="xav">Horizontal</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Button</span><span class="xan">
                    Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding RefreshCommand}</span>&quot;<span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource WebViewButtonStyle}</span>&quot;<span class="xan">
                    ToolTip</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageRefreshButtonTooltip}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallIconStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">&amp;#xE72C;</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Button</span><span class="xan">
                    Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding OpenInBrowserCommand}</span>&quot;<span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource WebViewButtonStyle}</span>&quot;<span class="xan">
                    ToolTip</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.WebViewPageOpenInBrowserButtonTooltip}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock</span><span class="xan">
                        Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallIconStyle}</span>&quot;<span class="xan">
                        Text</span><span class="xd">=</span>&quot;<span class="xav">&amp;#xE774;</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Button</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">UserControl</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
