<!DOCTYPE html>
<html><head><title>WebViewPage.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(24);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#MenuBar/Views/WebViewPage.xaml.cs" target="_top">Views\WebViewPage.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#MenuBar" target="_top">HelpProjects\WPF-MAIN\WPFprism\MenuBar\MenuBar\MenuBar.csproj</a> (MenuBar)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;

<b>using</b> <span class="i n">MenuBar</span>.<span class="i n">ViewModels</span>;

<b>using</b> <span class="i n">Microsoft</span>.<span class="i n">Toolkit</span>.<span class="i n">Win32</span>.<span class="i n">UI</span>.<span class="i n">Controls</span>.<span class="i n">Interop</span>.<span class="i n">WinRT</span>;

<b>namespace</b> <span class="i n">MenuBar</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/b3792aa5df49672e.html" target="s" class="k">partial</a> <b>class</b> <a id="b3792aa5df49672e" href="../R/b3792aa5df49672e.html" target="n" data-glyph="0,0" class="t t">WebViewPage</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>private</b> <a href="../ViewModels/WebViewViewModel.cs.html#9186ac919cd75f6a" class="t t">WebViewViewModel</a> <a id="2901027f53c47904" href="../R/2901027f53c47904.html" target="n" data-glyph="106,1" class="i property">ViewModel</a>
            =&gt; <a href="@0@PresentationFramework/A.html#e4aaca7514916173" class="i property">DataContext</a> <b>as</b> <a href="../ViewModels/WebViewViewModel.cs.html#9186ac919cd75f6a" class="t t">WebViewViewModel</a>;

        <b>public</b> <a id="f3168e60664e2cec" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">WebViewPage</a>()
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#89960397d149b34e" class="i method">InitializeComponent</a>();
            <a href="#2901027f53c47904" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#d5bfaf091d934b5a" class="i method">Initialize</a>(<a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#85196e076beaf5af" class="i field">webView</a>);
        }

        <b>private void</b> <a id="e418b9cc434ce404" href="../R/e418b9cc434ce404.html" target="n" data-glyph="76,1" class="i method">OnNavigationCompleted</a>(<b>object</b> <span id="r0 rd" class="r0 r">sender</span>, <span class="t t">WebViewControlNavigationCompletedEventArgs</span> <span id="r1 rd" class="r1 r">e</span>)
            =&gt; <a href="#2901027f53c47904" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#bf4f30cf3d251fa0" class="i method">OnNavigationCompleted</a>(<span class="r1 r">e</span>);
    }
}
</pre></td></tr></table></div></body></html>
