@model AddUserViewModel;
@{
    ViewData["Title"] = "Add New User";
}

<div class="row justify-content-center " style="padding-top: 5%">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <p class="text-muted">
                    When the new account is created, your colleague will receive an email with instructions on how to sign in to the application.
                </p>
                <form id="AddUserForm" asp-controller="Team" asp-action="AddUser" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Email" class="col-form-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactName" class="col-form-label"></label>
                        <input asp-for="ContactName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="col-form-label"></label>
                        @Html.DropDownListFor(Model => Model.Role, ViewBag.Roles as SelectList, 
                                new { @class = "form-control" })
                    </div>
                    <div class="card bg-light mb-3">
                        <div class="card-body small">
                            <p class="card-text"><strong>admin</strong> - is able to manage connections, manage team members, view and manage reports</p>
                            <p class="card-text"><strong>manager</strong> - is able to view and manage the reports</p>
                            <p class="card-text"><strong>consumer</strong> - is able only to view the existing reports but can't modify them</p>
                        </div>
                    </div>

                    <div class="form-actions pull-right">
                        <button type="submit" class="btn btn-primary" id="AddUserButton">Add User</button>
                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='@Url.Action("Index","Team")'">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_EasyDataScriptsPartial" />
    <script>
        $(function() {
            $("#AddUserForm").submit(function(event) {
                if (!event.isPropagationStopped()) {
                    easydata.ui.dialogs.openProgress({
                        title: "Creating an account",
                        content: "A new account is being created. It can take a while..."
                    });
                }
            });        
        })
    </script>
}