@model UserInfoViewModel;

@{
    ViewData["Title"] = "Edit User";
}

<div class="row justify-content-center " style="padding-top: 1%">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><h5>Set new password or change role for this user</h5></div>
                <form id="EditUserForm" asp-controller="Team" asp-action="EditUser" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Id" type="hidden" />

                    <div class="form-group">
                        <label asp-for="UserName" class="col-form-label"></label>
                        <input asp-for="UserName" class="form-control " readonly />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Email" class="col-form-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="col-form-label"></label>
                        @Html.DropDownListFor(Model => Model.Role, ViewBag.Roles as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactName" class="col-form-label"></label>
                        <input asp-for="ContactName" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Password" class="col-form-label"></label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    <div class="form-actions pull-right">
                        <button type="submit" class="btn btn-primary" id="SaveUserButton">Save</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index","Team")'">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_EasyDataScriptsPartial" />
    <script>
        $(function() {
            $("#EditUserForm").submit(function(event) {
                if (!event.isPropagationStopped()) {
                    easydata.ui.dialogs.openProgress({
                        title: "Updating the account",
                        content: "The account is being updated. It can take a while..."
                    });
                }
            });        
        })
    </script>
}


