@{
    ViewData["Title"] = "Email confirmed";
}

<div class="container" style="padding-top: 4%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-header p-4 bg-transparent border-0">
                    <h2>Congratulations!</h2>
                </div>
                <div class="card-body">
                    <h4><i class="fa fa-thumbs-up"></i> You have confirmed your email.</h4>
                    <p> 
                        <button type="button" class="btn btn-link px-0" 
                                onclick="window.location.href='@Url.Action("Index", "Reports")'">Access your account</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
