@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    var dog = "@";
}
<div class="container" style="padding-top: 4%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <form asp-action="ForgotPassword" method="post">
                        <p class="text-muted">
                            We will send you an email with instructions on how to reset your password.
                            Your email must be confirmed. In the other way, you won't get instructions.
                        </p>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@dog</span>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
