@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container" style="padding-top: 4%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <p>
                        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
                    </p>
                    <button type="button" class="btn btn-link px-0" onclick="window.location.href='@Url.Action("Index","Home")'">Home page</button>
                </div>
            </div>
        </div>
    </div>
</div>

