@page "/server-web/github/blob"

@using EasyITCenter.GitServer.Extensions
@using EasyITCenter.GitServer.Models
@using EasyITCenter.GitServer.SyntaxHighlighing
@model EasyITCenter.GitServer.Models.GithubBlobModel

@{
	ViewBag.Title = Model.Name;
}
<a class="item" href="#" onclick="window.location.href= window.location.href.replace('/blob/','/tree/').replace('/@System.IO.Path.GetFileName(Model.Path)','')">Zpìt</a>

<link rel="stylesheet" href="/server-web/github/js/highlight/styles/foundation.css">
<script src="/server-web/github/js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
@if(Model.IsBinary)
{
	<p>This file is binary and cannot be displayed.</p>
}
else
{
    <pre>@Model.Content</pre> 
    //Html.HighlightCode(Model.Content, Highlighter.FromExtension(System.IO.Path.GetExtension(Model.Name)), "code");
}
<script>
    $(document).ready(function () {
        $('pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>