<!DOCTYPE html>
<html><head><title>MainPage.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(33);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#RibbonApp/Views/MainPage.xaml" target="_top">Views\MainPage.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#RibbonApp" target="_top">HelpProjects\WPF-MAIN\WPFprism\RibbonApp\RibbonApp\RibbonApp.csproj</a> (RibbonApp)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">UserControl</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">RibbonApp.Views.MainPage</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:RibbonApp.Strings</span>&quot;<span class="xan">
    d:DesignHeight</span><span class="xd">=</span>&quot;<span class="xav">450</span>&quot;<span class="xan">
    d:DesignWidth</span><span class="xd">=</span>&quot;<span class="xav">800</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Control.Background}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">TextBlock</span><span class="xan">
            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumLeftMargin}</span>&quot;<span class="xan">
            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource PageTitleStyle}</span>&quot;<span class="xan">
            Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.MainPageTitle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid</span><span class="xan">
            Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumLeftRightMargin}</span>&quot;<span class="xan">
            Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Gray10}</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;!--</span><span class="c">
                The Mahapps Gray10 color represents where you should place your content.
                Place your content here.
            </span><span class="xd">--&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">UserControl</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
