<!DOCTYPE html>
<html><head><title>MasterDetailPage.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(138);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#RibbonApp/Views/MasterDetailPage.xaml" target="_top">Views\MasterDetailPage.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#RibbonApp" target="_top">HelpProjects\WPF-MAIN\WPFprism\RibbonApp\RibbonApp\RibbonApp.csproj</a> (RibbonApp)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">UserControl</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">RibbonApp.Views.MasterDetailPage</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:RibbonApp.Strings</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    Background</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Control.Background}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xan">
    d:DesignHeight</span><span class="xd">=</span>&quot;<span class="xav">450</span>&quot; <span class="xan">d:DesignWidth</span><span class="xd">=</span>&quot;<span class="xav">800</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">DataTemplate </span><span class="xan">x:Key</span><span class="xd">=</span>&quot;<span class="xav">ItemTemplate</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Grid </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">60</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">Auto</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">TextBlock</span><span class="xan">
                    Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot;<span class="xan">
                    Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Symbol}</span>&quot;<span class="xan">
                    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumIconStyle}</span>&quot;<span class="xan">
                    Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource XSmallLeftMargin}</span>&quot;<span class="xan">
                    AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">List item icon</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">StackPanel</span><span class="xan">
                    Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                    Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallLeftMargin}</span>&quot;<span class="xan">
                    VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock </span><span class="xan">Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource ListTitleStyle}</span>&quot; <span class="xan">Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Company}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;</span><span class="xn">TextBlock </span><span class="xan">Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource ListSubTitleStyle}</span>&quot; <span class="xan">Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Status}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">

        &lt;</span><span class="xn">DataTemplate </span><span class="xan">x:Key</span><span class="xd">=</span>&quot;<span class="xav">DetailTemplate</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ScrollViewer</span><span class="xan">
                Name</span><span class="xd">=</span>&quot;<span class="xav">ForegroundElement</span>&quot;<span class="xan">
                HorizontalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Stretch</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">StackPanel </span><span class="xan">HorizontalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Left</span>&quot; <span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumLeftTopRightBottomMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">StackPanel </span><span class="xan">Orientation</span><span class="xd">=</span>&quot;<span class="xav">Horizontal</span>&quot; <span class="xan">HorizontalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Stretch</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Symbol}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BigIconStyle}</span>&quot;<span class="xan">
                            AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">Detail icon</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallLeftMargin}</span>&quot;<span class="xan">
                            VerticalAlignment</span><span class="xd">=</span>&quot;<span class="xav">Center</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Company, Mode=OneWay}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource PageTitleStyle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">StackPanel </span><span class="xan">Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Status</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding MasterMenuItem.Status, Mode=OneWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Order date</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding OrderDate, Mode=OneWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Company</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding Company, Mode=OneWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Ship to</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding ShipTo, Mode=OneWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Order total</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">{Binding OrderTotal, Mode=OneWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">

                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Note 1</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis hendrerit nulla, vel molestie libero. In nec ultricies magna, ultricies molestie ipsum. Mauris non dignissim velit. Etiam malesuada blandit mauris eu maximus. Quisque ornare, felis nec scelerisque mollis, risus dolor posuere magna, in gravida quam mi id nisi. Nullam mattis consequat ex. Cras nulla neque, dictum ac urna et, vestibulum feugiat ex. Pellentesque malesuada accumsan ligula, vel fringilla lacus facilisis sit amet. Proin convallis tempor arcu, ac placerat libero pretium ut. Praesent hendrerit nisl at lobortis viverra. Fusce vitae velit odio. Nam ut tortor sed purus finibus sollicitudin quis at ante. Ut sodales dolor vel eros mollis suscipit. Donec eu nulla id urna ultricies consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</span>&quot;<span class="xan">
                            AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">Detail note 1</span>&quot;<span class="xan">
                            AutomationProperties.HelpText</span><span class="xd">=</span>&quot;<span class="xav">{Binding Text, RelativeSource={RelativeSource Self}}</span>&quot; <span class="xd">/&gt;</span><span class="xd">

                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SmallTopMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource SubtitleTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Note 2</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;</span><span class="xn">TextBlock</span><span class="xan">
                            Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumBottomMargin}</span>&quot;<span class="xan">
                            Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource BodyTextStyle}</span>&quot;<span class="xan">
                            Text</span><span class="xd">=</span>&quot;<span class="xav">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis hendrerit nulla, vel molestie libero. In nec ultricies magna, ultricies molestie ipsum. Mauris non dignissim velit. Etiam malesuada blandit mauris eu maximus. Quisque ornare, felis nec scelerisque mollis, risus dolor posuere magna, in gravida quam mi id nisi. Nullam mattis consequat ex. Cras nulla neque, dictum ac urna et, vestibulum feugiat ex. Pellentesque malesuada accumsan ligula, vel fringilla lacus facilisis sit amet. Proin convallis tempor arcu, ac placerat libero pretium ut. Praesent hendrerit nisl at lobortis viverra. Fusce vitae velit odio. Nam ut tortor sed purus finibus sollicitudin quis at ante. Ut sodales dolor vel eros mollis suscipit. Donec eu nulla id urna ultricies consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</span>&quot;<span class="xan">
                            AutomationProperties.Name</span><span class="xd">=</span>&quot;<span class="xav">Detail note 2</span>&quot;<span class="xan">
                            AutomationProperties.HelpText</span><span class="xd">=</span>&quot;<span class="xav">{Binding Text, RelativeSource={RelativeSource Self}}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">StackPanel</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">ScrollViewer</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">UserControl.Resources</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">MinWidth</span><span class="xd">=</span>&quot;<span class="xav">180</span>&quot; <span class="xan">MaxWidth</span><span class="xd">=</span>&quot;<span class="xav">300</span>&quot; <span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ColumnDefinition </span><span class="xan">Width</span><span class="xd">=</span>&quot;<span class="xav">2*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid.ColumnDefinitions</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">48</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">TextBlock</span><span class="xan">
                Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource PageTitleStyle}</span>&quot;<span class="xan">
                Margin</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource MediumLeftMargin}</span>&quot;<span class="xan">
                Text</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.MasterDetailPageTitle}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;</span><span class="xn">ListView</span><span class="xan">
                Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                ItemsSource</span><span class="xd">=</span>&quot;<span class="xav">{Binding SampleItems}</span>&quot;<span class="xan">
                ItemTemplate</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource ItemTemplate}</span>&quot;<span class="xan">
                SelectedItem</span><span class="xd">=</span>&quot;<span class="xav">{Binding Selected, Mode=TwoWay}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">ContentControl</span><span class="xan">
            Grid.Column</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
            Content</span><span class="xd">=</span>&quot;<span class="xav">{Binding Selected}</span>&quot;<span class="xan">
            ContentTemplate</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource DetailTemplate}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
    &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">UserControl</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
