<!DOCTYPE html>
<html><head><title>ShellWindow.xaml</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="ix(99);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#RibbonApp/Views/ShellWindow.xaml" target="_top">Views\ShellWindow.xaml</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#RibbonApp" target="_top">HelpProjects\WPF-MAIN\WPFprism\RibbonApp\RibbonApp\RibbonApp.csproj</a> (RibbonApp)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<span class="xd">&lt;</span><span class="xn">controls:MetroWindow</span><span class="xan">
    x:Class</span><span class="xd">=</span>&quot;<span class="xav">RibbonApp.Views.ShellWindow</span>&quot;<span class="xan">
    xmlns</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml/presentation</span>&quot;<span class="xan">
    xmlns:x</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/winfx/2006/xaml</span>&quot;<span class="xan">
    xmlns:d</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/expression/blend/2008</span>&quot;<span class="xan">
    xmlns:mc</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.openxmlformats.org/markup-compatibility/2006</span>&quot;<span class="xan">
    xmlns:controls</span><span class="xd">=</span>&quot;<span class="xav">http://metro.mahapps.com/winfx/xaml/controls</span>&quot;<span class="xan">
    xmlns:i</span><span class="xd">=</span>&quot;<span class="xav">http://schemas.microsoft.com/xaml/behaviors</span>&quot;<span class="xan">
    xmlns:strings</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:RibbonApp.Strings</span>&quot;<span class="xan">
    xmlns:behaviors</span><span class="xd">=</span>&quot;<span class="xav">clr-namespace:RibbonApp.Behaviors</span>&quot;<span class="xan">
    xmlns:prism</span><span class="xd">=</span>&quot;<span class="xav">http://prismlibrary.com/</span>&quot;<span class="xan">
    prism:ViewModelLocator.AutoWireViewModel</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
    xmlns:Fluent</span><span class="xd">=</span>&quot;<span class="xav">urn:fluent-ribbon</span>&quot;<span class="xan">
    ShowSystemMenuOnRightClick</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xan">
    Loaded</span><span class="xd">=</span>&quot;<span class="xav">MetroWindow_Loaded</span>&quot;<span class="xan">
    Unloaded</span><span class="xd">=</span>&quot;<span class="xav">MetroWindow_Unloaded</span>&quot;<span class="xan">
    Style</span><span class="xd">=</span>&quot;<span class="xav">{StaticResource CustomMetroWindow}</span>&quot;<span class="xan">
    mc:Ignorable</span><span class="xd">=</span>&quot;<span class="xav">d</span>&quot;<span class="xan">
    Title</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.AppDisplayName}</span>&quot;<span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Loaded</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding LoadedCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">i:EventTrigger </span><span class="xan">EventName</span><span class="xd">=</span>&quot;<span class="xav">Unloaded</span>&quot;<span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">i:InvokeCommandAction </span><span class="xan">Command</span><span class="xd">=</span>&quot;<span class="xav">{Binding UnloadedCommand}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">i:EventTrigger</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">i:Interaction.Triggers</span><span class="xd">&gt;</span><span class="xd">
    &lt;</span><span class="xn">controls:MetroWindow.TitleTemplate</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Fluent:RibbonTitleBar</span><span class="xan">
                x:Name</span><span class="xd">=</span>&quot;<span class="xav">RibbonTitleBar</span>&quot;<span class="xan">
                Header</span><span class="xd">=</span>&quot;<span class="xav">{Binding Path=Title, RelativeSource={RelativeSource AncestorType=controls:MetroWindow}}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
        &lt;/</span><span class="xn">DataTemplate</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">controls:MetroWindow.TitleTemplate</span><span class="xd">&gt;</span><span class="xd">

    &lt;</span><span class="xn">controls:MetroWindow.Content</span><span class="xd">&gt;</span><span class="xd">
        &lt;</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">Auto</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;</span><span class="xn">RowDefinition </span><span class="xan">Height</span><span class="xd">=</span>&quot;<span class="xav">*</span>&quot; <span class="xd">/&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Grid.RowDefinitions</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">Fluent:Ribbon </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">ribbonControl</span>&quot; <span class="xan">Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;!--</span><span class="c">Backstage</span><span class="xd">--&gt;</span><span class="xd">
                &lt;</span><span class="xn">Fluent:Ribbon.Menu</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Fluent:Backstage </span><span class="xan">UseHighestAvailableAdornerLayer</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">Fluent:BackstageTabControl </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">backstageTabControl</span>&quot; <span class="xan">SelectedContentMargin</span><span class="xd">=</span>&quot;<span class="xav">0</span>&quot;<span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">i:Interaction.Behaviors</span><span class="xd">&gt;</span><span class="xd">
                                &lt;</span><span class="xn">behaviors:BackstageTabNavigationBehavior </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">navigationBehavior</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                            &lt;/</span><span class="xn">i:Interaction.Behaviors</span><span class="xd">&gt;</span><span class="xd">
                            &lt;</span><span class="xn">Fluent:BackstageTabItem</span><span class="xan">
                                Tag</span><span class="xd">=</span>&quot;<span class="xav">Settings</span>&quot;<span class="xan">
                                Header</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.ShellPageRibbonBackstageTabSettingsHeader}</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                        &lt;/</span><span class="xn">Fluent:BackstageTabControl</span><span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Fluent:Backstage</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Fluent:Ribbon.Menu</span><span class="xd">&gt;</span><span class="xd">

                &lt;</span><span class="xn">i:Interaction.Behaviors</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">behaviors:RibbonTabsBehavior </span><span class="xan">x:Name</span><span class="xd">=</span>&quot;<span class="xav">tabsBehavior</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">i:Interaction.Behaviors</span><span class="xd">&gt;</span><span class="xd">

                &lt;!--</span><span class="c">Tabs</span><span class="xd">--&gt;</span><span class="xd">
                &lt;</span><span class="xn">Fluent:RibbonTabItem</span><span class="xan">
                    Fluent:KeyTip</span><span class="xd">=</span>&quot;<span class="xav">A</span>&quot;<span class="xan">
                    behaviors:RibbonTabsBehavior.IsHomeTab</span><span class="xd">=</span>&quot;<span class="xav">True</span>&quot;<span class="xan">
                    Header</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.ShellPageRibbonTabHomeHeader}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Fluent:RibbonGroupBox</span><span class="xan">
                        State</span><span class="xd">=</span>&quot;<span class="xav">Large</span>&quot;<span class="xan">
                        MinWidth</span><span class="xd">=</span>&quot;<span class="xav">150</span>&quot;<span class="xan">
                        Header</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.ShellPageRibbonHomeGroupCommon1Header}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Fluent:RibbonGroupBox</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Fluent:RibbonGroupBox</span><span class="xan">
                        State</span><span class="xd">=</span>&quot;<span class="xav">Middle</span>&quot;<span class="xan">
                        MinWidth</span><span class="xd">=</span>&quot;<span class="xav">150</span>&quot;<span class="xan">
                        Header</span><span class="xd">=</span>&quot;<span class="xav">{x:Static strings:Resources.ShellPageRibbonHomeGroupCommon2Header}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Fluent:RibbonGroupBox</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">Fluent:RibbonTabItem</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">Fluent:Ribbon</span><span class="xd">&gt;</span><span class="xd">
            &lt;</span><span class="xn">controls:SplitView</span><span class="xan">
                Grid.Row</span><span class="xd">=</span>&quot;<span class="xav">1</span>&quot;<span class="xan">
                x:Name</span><span class="xd">=</span>&quot;<span class="xav">splitView</span>&quot;<span class="xan">
                PanePlacement</span><span class="xd">=</span>&quot;<span class="xav">Right</span>&quot;<span class="xan">
                OpenPaneLength</span><span class="xd">=</span>&quot;<span class="xav">400</span>&quot;<span class="xan">
                Focusable</span><span class="xd">=</span>&quot;<span class="xav">False</span>&quot;<span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">controls:SplitView.Pane</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">Border</span><span class="xan">
                        BorderThickness</span><span class="xd">=</span>&quot;<span class="xav">1,1,0,0</span>&quot;<span class="xan">
                        BorderBrush</span><span class="xd">=</span>&quot;<span class="xav">{DynamicResource MahApps.Brushes.Controls.Border}</span>&quot;<span class="xd">&gt;</span><span class="xd">
                        &lt;</span><span class="xn">ContentControl</span><span class="xan">
                            x:Name</span><span class="xd">=</span>&quot;<span class="xav">rightPaneContentControl</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                    &lt;/</span><span class="xn">Border</span><span class="xd">&gt;</span><span class="xd">
                &lt;/</span><span class="xn">controls:SplitView.Pane</span><span class="xd">&gt;</span><span class="xd">
                &lt;</span><span class="xn">controls:SplitView.Content</span><span class="xd">&gt;</span><span class="xd">
                    &lt;</span><span class="xn">ContentControl</span><span class="xan">
                        x:Name</span><span class="xd">=</span>&quot;<span class="xav">menuContentControl</span>&quot; <span class="xd">/&gt;</span><span class="xd">
                &lt;/</span><span class="xn">controls:SplitView.Content</span><span class="xd">&gt;</span><span class="xd">
            &lt;/</span><span class="xn">controls:SplitView</span><span class="xd">&gt;</span><span class="xd">
        &lt;/</span><span class="xn">Grid</span><span class="xd">&gt;</span><span class="xd">
    &lt;/</span><span class="xn">controls:MetroWindow.Content</span><span class="xd">&gt;</span><span class="xd">
&lt;/</span><span class="xn">controls:MetroWindow</span><span class="xd">&gt;</span>
</pre></td></tr></table></div></body></html>
