<!DOCTYPE html>
<html><head><title>WebViewPage.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(24);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#RibbonApp/Views/WebViewPage.xaml.cs" target="_top">Views\WebViewPage.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#RibbonApp" target="_top">HelpProjects\WPF-MAIN\WPFprism\RibbonApp\RibbonApp\RibbonApp.csproj</a> (RibbonApp)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;

<b>using</b> <span class="i n">Microsoft</span>.<span class="i n">Toolkit</span>.<span class="i n">Win32</span>.<span class="i n">UI</span>.<span class="i n">Controls</span>.<span class="i n">Interop</span>.<span class="i n">WinRT</span>;

<b>using</b> <span class="i n">RibbonApp</span>.<span class="i n">ViewModels</span>;

<b>namespace</b> <span class="i n">RibbonApp</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/29b1e1fbeb2772d6.html" target="s" class="k">partial</a> <b>class</b> <a id="29b1e1fbeb2772d6" href="../R/29b1e1fbeb2772d6.html" target="n" data-glyph="0,0" class="t t">WebViewPage</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>private</b> <a href="../ViewModels/WebViewViewModel.cs.html#ed4fd03f368417a8" class="t t">WebViewViewModel</a> <a id="af12b061e2ecccb1" href="../R/af12b061e2ecccb1.html" target="n" data-glyph="106,1" class="i property">ViewModel</a>
            =&gt; <a href="@0@PresentationFramework/A.html#e4aaca7514916173" class="i property">DataContext</a> <b>as</b> <a href="../ViewModels/WebViewViewModel.cs.html#ed4fd03f368417a8" class="t t">WebViewViewModel</a>;

        <b>public</b> <a id="bb3642e15d8f708d" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">WebViewPage</a>()
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#e335d465e46e2376" class="i method">InitializeComponent</a>();
            <a href="#af12b061e2ecccb1" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#9ef488eca960fbc3" class="i method">Initialize</a>(<a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#1a6fdf52b596c9e4" class="i field">webView</a>);
        }

        <b>private void</b> <a id="9a8457cebcf4ab89" href="../R/9a8457cebcf4ab89.html" target="n" data-glyph="76,1" class="i method">OnNavigationCompleted</a>(<b>object</b> <span id="r0 rd" class="r0 r">sender</span>, <span class="t t">WebViewControlNavigationCompletedEventArgs</span> <span id="r1 rd" class="r1 r">e</span>)
            =&gt; <a href="#af12b061e2ecccb1" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#30c243bcfe47b72e" class="i method">OnNavigationCompleted</a>(<span class="r1 r">e</span>);
    }
}
</pre></td></tr></table></div></body></html>
