<!DOCTYPE html>
<html><head><title>ILogInWindow.cs</title><link rel="stylesheet" href="../../../styles.css"><script src="../../../scripts.js"></script></head>
<body class="cB" onload="i(10);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#ForcedLogin/Contracts/Views/ILogInWindow.cs" target="_top">Contracts\Views\ILogInWindow.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#ForcedLogin" target="_top">HelpProjects\WPF-MAIN\WPFprism\ForcedLogin\ForcedLogin\ForcedLogin.csproj</a> (ForcedLogin)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>namespace</b> <span class="i n">ForcedLogin</span>.<span class="i n">Contracts</span>.<span class="i n">Views</span>
{
    <b>public interface</b> <a id="f944f88c6b9a154b" href="../../R/f944f88c6b9a154b.html" target="n" data-glyph="48,0" class="t t">ILogInWindow</a>
    {
        <b>void</b> <a id="fd23efe809c887e6" href="../../R/fd23efe809c887e6.html" target="n" data-glyph="72,1" class="i method">ShowWindow</a>();

        <b>void</b> <a id="15592148ebd3e535" href="../../R/15592148ebd3e535.html" target="n" data-glyph="72,1" class="i method">CloseWindow</a>();
    }
}
</pre></td></tr></table></div></body></html>
