.pagination-sm {
    padding-top: 10px;
}

.eqjs-chart-settings {
    padding-top: 20px;
    position: relative;
}

.eqjs-chart-content {
    padding-top: 20px;
    position: relative;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.btn-menu {
    margin-bottom: 10px;
}

/* panel title */
.panel-title {
    font: normal 16pt "Segoe UI Light", "Segoe Light", "Segoe UI", Arial, Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
}

.report-title {
    font: normal 16pt "Segoe UI Light", "Segoe Light", "Segoe UI", Arial, Helvetica, sans-serif;
    padding: 4px 10px 4px 10px;
}


.panel-buttons {
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.panel-buttons > .btn:first-child, .btn-group:first-child {
    margin-left: 0;
}

.columns-panel {
    padding: 6px 4px 10px 8px;
}

/* conditions block */
.conditions-block .query-panel {
    background: #f9f9f9;
    position: relative;
    min-height: 120px;
    max-height: 320px;
    *height: 179px !IE7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.query-panel {
    font: normal 14px Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 5px;
}


.pagination {
    margin: 0;
}


.dropdown-item.disabled, .dropdown-item:disabled {
    color: #536c798a !important;
    cursor: default;
}

.query-panel, .columns-bar {
    background-color: white;
}

.switch {
    margin-bottom: 0;
}


.eqjs-qp-conditions-root {
    min-height: 40px;
    max-height: 300px;
}

.query-panel, .columns-bar {
    background: #f9f9f9;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .5rem;
}

.columns-bar {
    padding-bottom: 0;
}

.columns-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

#NoReportPanel {
    margin: auto;
}

.tooltip-inner {
    text-align: left;
}

/*  --- picker-and-report ---*/

.er-picker-and-report {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    background-color: #f8f9fa;
}

.er-report-picker {
    border-right: 1px solid #dadce0;
    transition: transform .2s cubic-bezier(.4,0,.2,1) 0ms;
    width: 350px;
    z-index: 1;
    align-items: stretch;
    background-color: #fff;
    flex: none;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-left: -350px;
}

@media (max-width: 979px) {
    .er-report-picker {
        width: 100%;
        z-index: 11;
        border-right: 0;
        margin-left: -100%;
    }
}

.er-report-picker.show-picker {
    display: flex;
    margin-left: 0;
}

.er-report-picker.animate-in {
    animation: slide-in .2s cubic-bezier(.4,0,.6,1) 0ms;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.er-report-picker.animate-out {
    animation: slide-out .2s cubic-bezier(.4,0,.6,1) 0ms;
}

@keyframes slide-out {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.er-picker-header {
    border-bottom: 1px solid #dadce0;
    align-items: center;
    display: flex;
}

.er-search-prepend {
    font-size: 1.2em;
    margin: 0.9em 0px 0 0.9em;
}

.er-search-box {
    border: none !important;
    box-shadow: none !important;
}

.er-add-button-container {
    align-items: center;
    display: flex;
    padding: 4px;
}

.er-add-button > i {
    color: #20a8d8;
    font-size: 1.3em;
    line-height: 1.5;
}

.er-add-button:hover {
    background-color: #f0f3f5;
}

.er-add-button:active {
    background-color: #e4e7ea;
}

.er-close-picker-container {
    display: none;
    position: relative;
    height: 48px;
}

@media (max-width: 979px) {
    .er-close-picker-container {
        display: block;
    }
}


.er-close-button {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
}

.er-close-button:hover {
    opacity: 1;
}

.er-close-button:before, .er-close-button:after {
    position: absolute;
    top: 0;
    left: 12px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
}

.er-close-button:before {
    transform: rotate(45deg);
}

.er-close-button:after {
    transform: rotate(-45deg);
}


.er-report-list {
    padding-top: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    height: 100%;
}

.er-report-list > ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.er-report-item {
    z-index: auto !important;
    cursor: pointer;
    padding: 18px 0.4rem !important;
    display: flex;
}

    .er-report-item.selected {
        background-color: #e8f0fe;
        border-color: #aecbfa;
    }

.er-report-selection-bar {
    pointer-events: auto;
    height: calc(100% + 2px);
    position: absolute;
    width: 6px;
    background-color: #1a73e8;
    left: 0;
}


.er-report-item .fa {
    min-width: 20px;
    color: grey;
    font-size: 1.2em;
    text-align: center;
}

.er-report-item.active .fa {
    color: #f0f3f5;
}

.er-report-name {
    padding: 0 10px;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: .0178571429em;
    line-height: 1.1em;
}

.er-actions-button {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
}

.er-shared-report, .er-readonly-report {
    display: inline-flex;
    align-items: center;
}

.er-shared-report .fa, .er-readonly-report .fa {
    color: #3e515b4f;
}

.er-shared-report.active .fa, .er-readonly-report.active .fa  {
    color: #ffffff94;
}

.er-report-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}

.er-report-view {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.er-title-bar {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.8em;
    line-height: 1.8em;
    align-items: center;
    display: flex;
    padding: 10px 20px 10px 10px;
    flex-wrap: wrap;
}

.er-title-bar > span {
    margin-top: -5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.er-report-edit-button {
    margin-left: auto;
}

.er-report-refresh-button-container,
.er-picker-toggle-button-container {
    align-items: center;
    display: flex;
    padding: 4px;
}

.er-report-refresh-button > i,
.er-picker-toggle-button > i {
    font-size: 1.2em;
    line-height: 1.5;
}

.er-report-refresh-button:hover,
.er-picker-toggle-button:hover {
    background-color: #eeeff0;
}

.er-report-refresh-button:active,
.er-picker-toggle-button:active {
    background-color: #d2d3d4;
}


.er-filter-bar {
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    overflow-y: auto;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 400;
    color: #3c4043;
}

.er-filter-bar > span {
    letter-spacing: 1px;
    font-weight: 600;
}


.er-result-block {
    padding: 10px 20px;
}

.eqjs-facets-body {
    background-color: white;
}

.modal-dialog label, .columns-caption {
    font-weight: 600;
}

.modal-dialog .form-field {
    margin-top: 1em;
}

.eqjs-facet-content {
    height: calc(100vh - 300px);
}

.sql-edit-wrapper {
    height: 300px;
    padding: 0;
}

.CodeMirror {
    padding: 10px;
    width: 100%;
    height: 100% !important;
}

.alert {
    margin-bottom: 5px;
}
