@page "/ServerCoreTools/MarkDown"

@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown
@model ServerCorePages.MarkdownModel
@using Microsoft.AspNetCore.Html;
@using Westwind.AspNetCore.Markdown;

@{
    ViewBag.Title = "EIC-MDsolution";
}
<div class="container" style="margin-top: 60px;">


    <a href="https://www.youtube.com/playlist?list=PLmE7gP9LTBimNJQ444ypG8HVce23fa2Hb" target="_blank" class=" drop-shadow shadowed">
        <img src="~/server-info/EIC-Gallery/img/40.png" alt="Galerie Videí s Ukázkami" width="240" height="180" border="10" />
    </a> 

    <table class="table sortable-markers-on-left">
        <thead>
            <tr>
                <th class="sortable-column">Column</th>
                <th class="sortable-column sort-asc">Column</th>
                <th class="sortable-column sort-desc">Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="drop-shadow shadowed">
                    <a href="https://www.youtube.com/playlist?list=PLmE7gP9LTBimNJQ444ypG8HVce23fa2Hb" target="_blank" class=" drop-shadow shadowed">
                        <img src="~/server-info/EIC-Gallery/img/40.png" alt="Galerie Videí s Ukázkami" width="240" height="180" border="10" />
                    </a><br />
                    <strong class="text-center">Galerie Videí s Ukázkami Vývoje</strong>
                </td>
                <td>b</td>
                <td>c</td>
            </tr>
            <tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
            </tr>
        </tbody>
    </table>

    <markdown>
        @Html.Raw(MarkdownModel.result)
    </markdown>
  
</div>


<!-- Syntax Highlighting code -->
<link href="~/ServerCoreTools/markdown/highlightjs/styles/vs2015.css" rel="stylesheet" />
<script type="text/javascript" src="~/ServerCoreTools/markdown/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="~/ServerCoreTools/markdown/highlightjs/highlightjs-badge.js"></script>

<script>
    var pres = document.querySelectorAll("pre>code"); pres = document.querySelectorAll("code");
    for (var i = 0; i < pres.length; i++) { hljs.highlightBlock(pres[i]); }
    window.highlightJsBadge();
</script>


