@page "/ServerCoreTools/ViewerReportFile/{ReportId?}"
@{
    Layout = "/ServerCorePages/Shared/ViewerReportFileLayout.cshtml";
}





@addTagHelper *, WebOptimizer.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown

@using NPOI.SS.Formula.Functions
@using ServerCorePages;
@using Microsoft.AspNetCore.Html;
@using EasyITCenter.DBModel;
@using EasyITCenter.ServerCoreWebPages;
@using EasyITCenter.ServerCoreStructure;
@using System.Security.Claims;
@using Westwind.AspNetCore.Markdown
@model ServerCorePages.ViewerReportFileModel
@{


    //https://github.com/FastReports/FastReport.Documentation
    //Standalone Load File From Url Request
    string? requestedUrlPath = ""; string fileContent = null;
    try {
        try { requestedUrlPath = ((string?)this.HttpContext.Items.FirstOrDefault(a => a.Key.ToString() == "FileValidUrl").Value); } catch { }
        string? filePath = System.IO.Path.Combine(ServerRuntimeData.WebRoot_path) + FileOperations.ConvertSystemFilePathFromUrl(requestedUrlPath);
        fileContent = System.IO.File.ReadAllText(filePath);
    } catch { }

}


<div class="container">
    <div class="reports">
        @foreach (var item in this.Model.reportList.ReportNameList.Select((value, i) => new { value, i })) {
            <a href="/ServerCoreTools/ViewerReportFile?ReportId=@item.i" >@item.value</a>
            <div class="webreport">
             @this.Model.reportList.ReportContent[@item.i].Report.AutoFillDataSet;
             @await this.Model.reportList.ReportContent[@item.i].Render()
            </div>
            <hr>
        }
    </div>
    <div class="webreport">  
        @this.Model.reportList.WebReport.RenderSync()
    </div>
    <footer>&copy; @DateTime.Now.Year - Fast Reports, Inc.</footer>
</div>

@* <script> *@



 



   

@* 
</script> *@


@* 
@if (this.BodyContent != null) {
    Html.Raw(this.BodyContent);
}
 *@