@using EasyITCenter.GitServer.SyntaxHighlighing;
@using EasyITCenter.GitServer.Extensions;
@using EasyITCenter.GitServer.Models;
@model EasyITCenter.GitServer.Models.GithubFileTreeEntry;

@{
	ViewBag.Title = Model.Name;
}

@if (Model.IsFile)
{
	if (!Model.IsBinary)
	{
		@Html.HighlightCode(Model.ContentString, Highlighter.FromExtension(Model.Extension), "code")
	}
	else
	{
		<p>Tento soubor je Binární, proto nemùže být zobrazen</p>
	}
}
else if (Model.IsDirectory)
{
	<ul class="file-browser">
		@foreach (GithubFileTreeEntry entry in Model) {
			<li class="@(entry.IsFile ? "file" : "dir")">
				<a href="@Url.UnencodedRouteLink("/Github/GetFileView", new { repoName = entry.RepoName, filePath = entry.Path })">@entry.Name</a>
			</li>
		}
	</ul>
}