<!DOCTYPE html>
<html><head><title>MasterDetailPage.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(13);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#NavigationPane/Views/MasterDetailPage.xaml.cs" target="_top">Views\MasterDetailPage.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#NavigationPane" target="_top">HelpProjects\WPF-MAIN\WPFprism\NavigationPane\NavigationPane\NavigationPane.csproj</a> (NavigationPane)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;

<b>namespace</b> <span class="i n">NavigationPane</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/e0dbbae6105dae05.html" target="s" class="k">partial</a> <b>class</b> <a id="e0dbbae6105dae05" href="../R/e0dbbae6105dae05.html" target="n" data-glyph="0,0" class="t t">MasterDetailPage</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>public</b> <a id="94d4534c9ceee013" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">MasterDetailPage</a>()
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/MasterDetailPage.g.cs.html#7e6e05412540dcb3" class="i method">InitializeComponent</a>();
        }
    }
}
</pre></td></tr></table></div></body></html>
