<!DOCTYPE html>
<html><head><title>ShellWindow.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(19);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#NavigationPane/Views/ShellWindow.xaml.cs" target="_top">Views\ShellWindow.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#NavigationPane" target="_top">HelpProjects\WPF-MAIN\WPFprism\NavigationPane\NavigationPane\NavigationPane.csproj</a> (NavigationPane)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">MahApps</span>.<span class="i n">Metro</span>.<span class="i n">Controls</span>;

<b>using</b> <span class="i n">NavigationPane</span>.<span class="i n">Constants</span>;

<b>using</b> <span class="i n">Prism</span>.<span class="i n">Regions</span>;

<b>namespace</b> <span class="i n">NavigationPane</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/7fff86bcf3ca9e8f.html" target="s" class="k">partial</a> <b>class</b> <a id="7fff86bcf3ca9e8f" href="../R/7fff86bcf3ca9e8f.html" target="n" data-glyph="0,0" class="t t">ShellWindow</a> : <a href="/MahApps.Metro/A.html#5a37f9897ea7f8e0" class="t t">MetroWindow</a>
    {
        <b>public</b> <a id="4fdab394cde0bdb1" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">ShellWindow</a>(<span class="t t">IRegionManager</span> <span id="r0 rd" class="r0 r">regionManager</span>)
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#6a94a2355a4319de" class="i method">InitializeComponent</a>();
            <span class="t t">RegionManager</span>.<span class="i method">SetRegionName</span>(<a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#657f41ba0061cc33" class="i field">hamburgerMenuContentControl</a>, <a href="../Constants/Regions.cs.html#c37a56c6215d9ab7" class="t t">Regions</a>.<a href="../Constants/Regions.cs.html#8d637fa2c8e9cdc6" class="i field">Main</a>);
            <span class="t t">RegionManager</span>.<span class="i method">SetRegionManager</span>(<a href="../obj/Debug/netcoreapp3.0/Views/ShellWindow.g.cs.html#657f41ba0061cc33" class="i field">hamburgerMenuContentControl</a>, <span class="r0 r">regionManager</span>);
        }
    }
}
</pre></td></tr></table></div></body></html>
