<!DOCTYPE html>
<html><head><title>WebViewPage.xaml.cs</title><link rel="stylesheet" href="../../styles.css"><script src="../../scripts.js"></script></head>
<body class="cB" onload="i(24);"><div class="dH">
<table style="width: 100%">
<tr><td>File: <a id="filePath" class="blueLink" href="/#NavigationPane/Views/WebViewPage.xaml.cs" target="_top">Views\WebViewPage.xaml.cs</a><br/></td><td></td></tr>
<tr><td>Project: <a id="projectPath" class="blueLink" href="/#NavigationPane" target="_top">HelpProjects\WPF-MAIN\WPFprism\NavigationPane\NavigationPane\NavigationPane.csproj</a> (NavigationPane)</td></tr>
</table>
</div>
<div class="cz"><table class="tb" cellpadding="0" cellspacing="0"><tr><td valign="top" align="right"><pre id="ln"></pre></td><td valign="top" align="left"><pre id="code">
<b>using</b> <span class="i n">System</span>.<span class="i n">Windows</span>.<span class="i n">Controls</span>;

<b>using</b> <span class="i n">Microsoft</span>.<span class="i n">Toolkit</span>.<span class="i n">Win32</span>.<span class="i n">UI</span>.<span class="i n">Controls</span>.<span class="i n">Interop</span>.<span class="i n">WinRT</span>;

<b>using</b> <span class="i n">NavigationPane</span>.<span class="i n">ViewModels</span>;

<b>namespace</b> <span class="i n">NavigationPane</span>.<span class="i n">Views</span>
{
    <b>public</b> <a href="../P/94fcf1ab9239cc82.html" target="s" class="k">partial</a> <b>class</b> <a id="94fcf1ab9239cc82" href="../R/94fcf1ab9239cc82.html" target="n" data-glyph="0,0" class="t t">WebViewPage</a> : <a href="@0@PresentationFramework/A.html#ef80474a10d9350f" class="t t">UserControl</a>
    {
        <b>private</b> <a href="../ViewModels/WebViewViewModel.cs.html#64c58fd71a55be25" class="t t">WebViewViewModel</a> <a id="60326dfba259803b" href="../R/60326dfba259803b.html" target="n" data-glyph="106,1" class="i property">ViewModel</a>
            =&gt; <a href="@0@PresentationFramework/A.html#e4aaca7514916173" class="i property">DataContext</a> <b>as</b> <a href="../ViewModels/WebViewViewModel.cs.html#64c58fd71a55be25" class="t t">WebViewViewModel</a>;

        <b>public</b> <a id="5738c8b2217916ec" href="../R/../../0000000000.html" target="n" data-glyph="72,1" class="t constructor">WebViewPage</a>()
        {
            <a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#277b9e369092d04a" class="i method">InitializeComponent</a>();
            <a href="#60326dfba259803b" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#bfbe84a4a924cb46" class="i method">Initialize</a>(<a href="../obj/Debug/netcoreapp3.0/Views/WebViewPage.g.cs.html#f82af0f06b6e8d94" class="i field">webView</a>);
        }

        <b>private void</b> <a id="ee13efc32a5044cb" href="../R/ee13efc32a5044cb.html" target="n" data-glyph="76,1" class="i method">OnNavigationCompleted</a>(<b>object</b> <span id="r0 rd" class="r0 r">sender</span>, <span class="t t">WebViewControlNavigationCompletedEventArgs</span> <span id="r1 rd" class="r1 r">e</span>)
            =&gt; <a href="#60326dfba259803b" class="i property">ViewModel</a>.<a href="../ViewModels/WebViewViewModel.cs.html#b270d0dee1034f9a" class="i method">OnNavigationCompleted</a>(<span class="r1 r">e</span>);
    }
}
</pre></td></tr></table></div></body></html>
